#
# WARNING: This file is auto-generated. Do not edit this file directly.
# Use the sync_openapi.sh script to update this file.
#
openapi: 3.0.2
info:
  title: Humanloop API
  description: |-
    The Humanloop API allows you to interact with Humanloop from your product or service.

    You can do this through HTTP requests from any language or via our official Python or TypeScript SDK.

    To install the official [Python SDK](https://pypi.org/project/humanloop/), run the following command:

    ```bash
    pip install humanloop
    ```

    To install the official [TypeScript SDK](https://www.npmjs.com/package/humanloop), run the following command:

    ```bash
    npm i humanloop
    ```

    ---

    Guides and further details about key concepts can be found in [our docs](https://docs.humanloop.com/).
  version: 5.0.0
servers:
  - url: https://api.humanloop.com/v5
    description: Production server
paths:
  /prompts/log:
    post:
      tags:
        - Prompts
      summary: Log
      description: |-
        Log to a Prompt.

        You can use query parameters `version_id`, or `environment`, to target
        an existing version of the Prompt. Otherwise the default deployed version will be chosen.

        Instead of targeting an existing version explicitly, you can instead pass in
        Prompt details in the request body. In this case, we will check if the details correspond
        to an existing version of the Prompt, if not we will create a new version. This is helpful
        in the case where you are storing or deriving your Prompt details in code.
      operationId: Prompts_log
      parameters:
        - description: A specific Version ID of the Prompt to log to.
          required: false
          schema:
            type: string
            title: Version ID
            description: A specific Version ID of the Prompt to log to.
          name: version_id
          in: query
        - description: Name of the Environment identifying a deployed version to log to.
          required: false
          schema:
            type: string
            title: Environment
            description: Name of the Environment identifying a deployed version to log to.
          name: environment
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromptLogRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePromptLogResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /prompts/call:
    post:
      tags:
        - Prompts
      summary: Call
      description: |-
        Call a Prompt.

        Calling a Prompt subsequently calls the model provider before logging
        the request, responses and metadata to Humanloop.

        You can use query parameters `version_id`, or `environment`, to target
        an existing version of the Prompt. Otherwise the default deployed version will be chosen.

        Instead of targeting an existing version explicitly, you can instead pass in
        Prompt details in the request body. In this case, we will check if the details correspond
        to an existing version of the Prompt, if not we will create a new version. This is helpful
        in the case where you are storing or deriving your Prompt details in code.
      operationId: Prompts_call
      parameters:
        - description: A specific Version ID of the Prompt to log to.
          required: false
          schema:
            type: string
            title: Version ID
            description: A specific Version ID of the Prompt to log to.
          name: version_id
          in: query
        - description: Name of the Environment identifying a deployed version to log to.
          required: false
          schema:
            type: string
            title: Environment
            description: Name of the Environment identifying a deployed version to log to.
          name: environment
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromptCallRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/PromptCallResponse"
                  - $ref: "#/components/schemas/PromptCallStreamResponse"
                title: Response Prompts Call
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /prompts:
    get:
      tags:
        - Prompts
      summary: "List "
      description: Get a list of Prompts.
      operationId: list__prompts_get
      parameters:
        - description: Page number for pagination.
          required: false
          schema:
            type: integer
            minimum: 1.0
            title: Page number
            description: Page number for pagination.
            default: 1
          name: page
          in: query
        - description: Page size for pagination. Number of Prompts to fetch.
          required: false
          schema:
            type: integer
            minimum: 0.0
            title: Page size
            description: Page size for pagination. Number of Prompts to fetch.
            default: 10
          name: size
          in: query
        - description: Case-insensitive filter for Prompt name.
          required: false
          schema:
            type: string
            title: Prompt name filter
            description: Case-insensitive filter for Prompt name.
          name: name
          in: query
        - description: Case-insensitive filter for users in the Prompt. This filter matches against both email address and name of users.
          required: false
          schema:
            type: string
            title: User filter
            description: Case-insensitive filter for users in the Prompt. This filter matches against both email address and name of users.
          name: user_filter
          in: query
        - description: Field to sort Prompts by
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/ProjectSortBy"
            title: Sort by
            description: Field to sort Prompts by
            default: created_at
          name: sort_by
          in: query
        - description: Direction to sort by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortOrder"
            title: Sort order
            description: Direction to sort by.
            default: desc
          name: order
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPrompts"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    post:
      tags:
        - Prompts
      summary: Upsert
      description: |-
        Create a Prompt or update it with a new version if it already exists.

        Prompts are identified by the `ID` or their `path`. The parameters (i.e. the prompt template, temperature, model etc.) determine the versions of the Prompt.

        If you provide a commit message, then the new version will be committed;
        otherwise it will be uncommitted. If you try to commit an already committed version,
        an exception will be raised.
      operationId: upsert_prompts_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromptRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /prompts/{id}:
    get:
      tags:
        - Prompts
      summary: Get
      description: |-
        Retrieve the Prompt with the given ID.

        By default, the deployed version of the Prompt is returned. Use the query parameters
        `version_id` or `environment` to target a specific version of the Prompt.
      operationId: get_prompts__id__get
      parameters:
        - description: Unique identifier for Prompt.
          required: true
          schema:
            type: string
            title: Prompt ID
            description: Unique identifier for Prompt.
          name: id
          in: path
        - description: A specific Version ID of the Prompt to retrieve.
          required: false
          schema:
            type: string
            title: Version ID
            description: A specific Version ID of the Prompt to retrieve.
          name: version_id
          in: query
        - description: Name of the Environment to retrieve a deployed Version from.
          required: false
          schema:
            type: string
            title: Environment
            description: Name of the Environment to retrieve a deployed Version from.
          name: environment
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Prompts
      summary: Delete
      description: Delete the Prompt with the given ID.
      operationId: delete_prompts__id__delete
      parameters:
        - description: Unique identifier for Prompt.
          required: true
          schema:
            type: string
            title: Prompt ID
            description: Unique identifier for Prompt.
          name: id
          in: path
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    patch:
      tags:
        - Prompts
      summary: Move
      description: Move the Prompt to a different path or change the name.
      operationId: move_prompts__id__patch
      parameters:
        - description: Unique identifier for Prompt.
          required: true
          schema:
            type: string
            title: Prompt ID
            description: Unique identifier for Prompt.
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePromptRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /prompts/{id}/versions:
    get:
      tags:
        - Prompts
      summary: List Versions
      description: Get a list of all the versions of a Prompt.
      operationId: list_versions_prompts__id__versions_get
      parameters:
        - description: Unique identifier for Prompt.
          required: true
          schema:
            type: string
            title: Prompt ID
            description: Unique identifier for Prompt.
          name: id
          in: path
        - description: "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/VersionStatus"
            description: "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
          name: status
          in: query
        - description: Whether to include Evaluator aggregate results for the versions in the response
          required: false
          schema:
            type: boolean
            title: Evaluator Aggregates
            description: Whether to include Evaluator aggregate results for the versions in the response
          name: evaluator_aggregates
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPrompts"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /prompts/{id}/versions/{version_id}/commit:
    post:
      tags:
        - Prompts
      summary: Commit
      description: Commit the Prompt Version with the given ID.
      operationId: commit_prompts__id__versions__version_id__commit_post
      parameters:
        - description: Unique identifier for Prompt.
          required: true
          schema:
            type: string
            title: Prompt ID
            description: Unique identifier for Prompt.
          name: id
          in: path
        - description: Unique identifier for the specific version of the Prompt.
          required: true
          schema:
            type: string
            title: Version ID
            description: Unique identifier for the specific version of the Prompt.
          name: version_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommitRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /prompts/{id}/evaluators:
    post:
      tags:
        - Prompts
      summary: Update Monitoring
      description: |-
        Activate and deactivate Evaluators for monitoring the Prompt.

        An activated Evaluator will automatically be run on all new Logs
        within the Prompt for monitoring purposes.
      operationId: update_monitoring_prompts__id__evaluators_post
      parameters:
        - required: true
          schema:
            type: string
            title: Id
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvaluatorActivationDeactivationRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /prompts/{id}/environments/{environment_id}:
    post:
      tags:
        - Prompts
      summary: Set Deployment
      description: |-
        Deploy Prompt to an Environment.

        Set the deployed version for the specified Environment. This Prompt
        will be used for calls made to the Prompt in this Environment.
      operationId: set_deployment_prompts__id__environments__environment_id__post
      parameters:
        - description: Unique identifier for Prompt.
          required: true
          schema:
            type: string
            title: Prompt ID
            description: Unique identifier for Prompt.
          name: id
          in: path
        - description: Unique identifier for the Environment to deploy the Version to.
          required: true
          schema:
            type: string
            title: Environment ID
            description: Unique identifier for the Environment to deploy the Version to.
          name: environment_id
          in: path
        - description: Unique identifier for the specific version of the Prompt.
          required: true
          schema:
            type: string
            title: Version ID
            description: Unique identifier for the specific version of the Prompt.
          name: version_id
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Prompts
      summary: Remove Deployment
      description: |-
        Remove deployed Prompt from the Environment.

        Remove the deployed version for the specified Environment. This Prompt
        will no longer be used for calls made to the Prompt in this Environment.
      operationId: remove_deployment_prompts__id__environments__environment_id__delete
      parameters:
        - description: Unique identifier for Prompt.
          required: true
          schema:
            type: string
            title: Prompt ID
            description: Unique identifier for Prompt.
          name: id
          in: path
        - description: Unique identifier for the Environment to remove the deployment from.
          required: true
          schema:
            type: string
            title: Environment ID
            description: Unique identifier for the Environment to remove the deployment from.
          name: environment_id
          in: path
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /prompts/{id}/environments:
    get:
      tags:
        - Prompts
      summary: List Environments
      description: List all Environments and their deployed versions for the Prompt.
      operationId: list_environments_prompts__id__environments_get
      parameters:
        - description: Unique identifier for Prompt.
          required: true
          schema:
            type: string
            title: Prompt ID
            description: Unique identifier for Prompt.
          name: id
          in: path
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FileEnvironmentResponse"
                type: array
                title: Response List Environments Prompts  Id  Environments Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /tools/log:
    post:
      tags:
        - Tools
      summary: Log
      description: |-
        Log to a Tool.

        You can use query parameters `version_id`, or `environment`, to target
        an existing version of the Tool. Otherwise the default deployed version will be chosen.

        Instead of targeting an existing version explicitly, you can instead pass in
        Tool details in the request body. In this case, we will check if the details correspond
        to an existing version of the Tool, if not we will create a new version. This is helpful
        in the case where you are storing or deriving your Tool details in code.
      operationId: Tools_log
      parameters:
        - description: A specific Version ID of the Tool to log to.
          required: false
          schema:
            type: string
            title: Version ID
            description: A specific Version ID of the Tool to log to.
          name: version_id
          in: query
        - description: Name of the Environment identifying a deployed version to log to.
          required: false
          schema:
            type: string
            title: Environment
            description: Name of the Environment identifying a deployed version to log to.
          name: environment
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToolLogRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateToolLogResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /tools:
    get:
      tags:
        - Tools
      summary: "List "
      description: Get a list of Tools.
      operationId: list__tools_get
      parameters:
        - description: Page offset for pagination.
          required: false
          schema:
            type: integer
            minimum: 1.0
            title: Page index
            description: Page offset for pagination.
            default: 1
          name: page
          in: query
        - description: Page size for pagination. Number of Tools to fetch.
          required: false
          schema:
            type: integer
            title: Page size
            description: Page size for pagination. Number of Tools to fetch.
            default: 10
          name: size
          in: query
        - description: Case-insensitive filter for Tool name.
          required: false
          schema:
            type: string
            title: Tool name filter
            description: Case-insensitive filter for Tool name.
          name: name
          in: query
        - description: Case-insensitive filter for users in the Tool. This filter matches against both email address and name of users.
          required: false
          schema:
            type: string
            title: User filter
            description: Case-insensitive filter for users in the Tool. This filter matches against both email address and name of users.
          name: user_filter
          in: query
        - description: Field to sort Tools by
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/ProjectSortBy"
            title: Sort by
            description: Field to sort Tools by
            default: created_at
          name: sort_by
          in: query
        - description: Direction to sort by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortOrder"
            title: Sort order
            description: Direction to sort by.
            default: desc
          name: order
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTools"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    post:
      tags:
        - Tools
      summary: Upsert
      description: |-
        Create a Tool or update it with a new version if it already exists.

        Tools are identified by the `ID` or their `path`. The name, description and parameters determine the versions of the Tool.

        If you provide a commit message, then the new version will be committed;
        otherwise it will be uncommitted. If you try to commit an already committed version,
        an exception will be raised.
      operationId: upsert_tools_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToolRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/src__external__app__models__v5__tools__ToolResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /tools/{id}:
    get:
      tags:
        - Tools
      summary: Get
      description: |-
        Retrieve the Tool with the given ID.

        By default, the deployed version of the Tool is returned. Use the query parameters
        `version_id` or `environment` to target a specific version of the Tool.
      operationId: get_tools__id__get
      parameters:
        - description: Unique identifier for Tool.
          required: true
          schema:
            type: string
            title: Tool ID
            description: Unique identifier for Tool.
          name: id
          in: path
        - description: A specific Version ID of the Tool to retrieve.
          required: false
          schema:
            type: string
            title: Version ID
            description: A specific Version ID of the Tool to retrieve.
          name: version_id
          in: query
        - description: Name of the Environment to retrieve a deployed Version from.
          required: false
          schema:
            type: string
            title: Environment
            description: Name of the Environment to retrieve a deployed Version from.
          name: environment
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/src__external__app__models__v5__tools__ToolResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Tools
      summary: Delete
      description: Delete the Tool with the given ID.
      operationId: delete_tools__id__delete
      parameters:
        - description: Unique identifier for Tool.
          required: true
          schema:
            type: string
            title: Tool ID
            description: Unique identifier for Tool.
          name: id
          in: path
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    patch:
      tags:
        - Tools
      summary: Move
      description: Move the Tool to a different path or change the name.
      operationId: move_tools__id__patch
      parameters:
        - description: Unique identifier for Tool.
          required: true
          schema:
            type: string
            title: Tool ID
            description: Unique identifier for Tool.
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateToolRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/src__external__app__models__v5__tools__ToolResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /tools/{id}/versions:
    get:
      tags:
        - Tools
      summary: List Versions
      description: Get a list of all the versions of a Tool.
      operationId: list_versions_tools__id__versions_get
      parameters:
        - description: Unique identifier for the Tool.
          required: true
          schema:
            type: string
            title: Tool ID
            description: Unique identifier for the Tool.
          name: id
          in: path
        - description: "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/VersionStatus"
            description: "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
          name: status
          in: query
        - description: Whether to include Evaluator aggregate results for the versions in the response
          required: false
          schema:
            type: boolean
            title: Evaluator Aggregates
            description: Whether to include Evaluator aggregate results for the versions in the response
          name: evaluator_aggregates
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTools"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /tools/{id}/versions/{version_id}/commit:
    post:
      tags:
        - Tools
      summary: Commit
      description: Commit the Tool Version with the given ID.
      operationId: commit_tools__id__versions__version_id__commit_post
      parameters:
        - description: Unique identifier for Tool.
          required: true
          schema:
            type: string
            title: Tool ID
            description: Unique identifier for Tool.
          name: id
          in: path
        - description: Unique identifier for the specific version of the Tool.
          required: true
          schema:
            type: string
            title: Version ID
            description: Unique identifier for the specific version of the Tool.
          name: version_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommitRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/src__external__app__models__v5__tools__ToolResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /tools/{id}/evaluators:
    post:
      tags:
        - Tools
      summary: Update Monitoring
      description: |-
        Activate and deactivate Evaluators for monitoring the Tool.

        An activated Evaluator will automatically be run on all new Logs
        within the Tool for monitoring purposes.
      operationId: update_monitoring_tools__id__evaluators_post
      parameters:
        - required: true
          schema:
            type: string
            title: Id
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvaluatorActivationDeactivationRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/src__external__app__models__v5__tools__ToolResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /tools/{id}/environments/{environment_id}:
    post:
      tags:
        - Tools
      summary: Set Deployment
      description: |-
        Deploy Tool to an Environment.

        Set the deployed version for the specified Environment. This Prompt
        will be used for calls made to the Tool in this Environment.
      operationId: set_deployment_tools__id__environments__environment_id__post
      parameters:
        - description: Unique identifier for Tool.
          required: true
          schema:
            type: string
            title: Tool ID
            description: Unique identifier for Tool.
          name: id
          in: path
        - description: Unique identifier for the Environment to deploy the Version to.
          required: true
          schema:
            type: string
            title: Environment ID
            description: Unique identifier for the Environment to deploy the Version to.
          name: environment_id
          in: path
        - description: Unique identifier for the specific version of the Tool.
          required: true
          schema:
            type: string
            title: Version ID
            description: Unique identifier for the specific version of the Tool.
          name: version_id
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/src__external__app__models__v5__tools__ToolResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Tools
      summary: Remove Deployment
      description: |-
        Remove deployed Tool from the Environment.

        Remove the deployed version for the specified Environment. This Tool
        will no longer be used for calls made to the Tool in this Environment.
      operationId: remove_deployment_tools__id__environments__environment_id__delete
      parameters:
        - description: Unique identifier for Tool.
          required: true
          schema:
            type: string
            title: Tool ID
            description: Unique identifier for Tool.
          name: id
          in: path
        - description: Unique identifier for the Environment to remove the deployment from.
          required: true
          schema:
            type: string
            title: Environment ID
            description: Unique identifier for the Environment to remove the deployment from.
          name: environment_id
          in: path
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /tools/{id}/environments:
    get:
      tags:
        - Tools
      summary: List Environments
      description: List all Environments and their deployed versions for the Tool.
      operationId: list_environments_tools__id__environments_get
      parameters:
        - description: Unique identifier for Tool.
          required: true
          schema:
            type: string
            title: Tool ID
            description: Unique identifier for Tool.
          name: id
          in: path
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FileEnvironmentResponse"
                type: array
                title: Response List Environments Tools  Id  Environments Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /datasets:
    get:
      tags:
        - Datasets
      summary: "List "
      description: List all Datasets.
      operationId: list__datasets_get
      parameters:
        - description: Page offset for pagination.
          required: false
          schema:
            type: integer
            minimum: 1.0
            title: Page index
            description: Page offset for pagination.
            default: 1
          name: page
          in: query
        - description: Page size for pagination. Number of Datasets to fetch.
          required: false
          schema:
            type: integer
            minimum: 0.0
            title: Page size
            description: Page size for pagination. Number of Datasets to fetch.
            default: 10
          name: size
          in: query
        - description: Case-insensitive filter for Dataset name.
          required: false
          schema:
            type: string
            title: Dataset name filter
            description: Case-insensitive filter for Dataset name.
          name: name
          in: query
        - description: Case-insensitive filter for users in the Dataset. This filter matches against both email address and name of users.
          required: false
          schema:
            type: string
            title: User filter
            description: Case-insensitive filter for users in the Dataset. This filter matches against both email address and name of users.
          name: user_filter
          in: query
        - description: Field to sort Datasets by
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/ProjectSortBy"
            title: Sort by
            description: Field to sort Datasets by
            default: created_at
          name: sort_by
          in: query
        - description: Direction to sort by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortOrder"
            title: Sort order
            description: Direction to sort by.
            default: desc
          name: order
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedData_DatasetResponse_"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    post:
      tags:
        - Datasets
      summary: Upsert
      description: |-
        Create a Dataset or update it with a new version if it already exists.

        Datasets are identified by the `ID` or their `path`. The datapoints determine the versions of the Dataset.

        By default, the new Dataset version will be set to the list of Datapoints provided in
        the request. You can also create a new version by adding or removing Datapoints from an existing version
        by specifying `action` as `add` or `remove` respectively. In this case, you may specify
        the `version_id` or `environment` query parameters to identify the existing version to base
        the new version on. If neither is provided, the default deployed version will be used.

        If you provide a commit message, then the new version will be committed;
        otherwise it will be uncommitted. If you try to commit an already committed version,
        an exception will be raised.

        Humanloop also deduplicates Datapoints. If you try to add a Datapoint that already
        exists, it will be ignored. If you intentionally want to add a duplicate Datapoint,
        you can add a unique identifier to the Datapoint's inputs such as `{_dedupe_id: <unique ID>}`.
      operationId: upsert_datasets_post
      parameters:
        - description: ID of the specific Dataset version to base the created Version on. Only used when `action` is `"add"` or `"remove"`.
          required: false
          schema:
            type: string
            title: Version ID
            description: ID of the specific Dataset version to base the created Version on. Only used when `action` is `"add"` or `"remove"`.
          name: version_id
          in: query
        - description: Name of the Environment identifying a deployed Version to base the created Version on. Only used when `action` is `"add"` or `"remove"`.
          required: false
          schema:
            type: string
            title: Environment
            description: Name of the Environment identifying a deployed Version to base the created Version on. Only used when `action` is `"add"` or `"remove"`.
          name: environment
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/src__external__app__models__v5__datasets__DatasetRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /datasets/{id}:
    get:
      tags:
        - Datasets
      summary: Get
      description: |-
        Retrieve the Dataset with the given ID.

        Unless `include_datapoints` is set to `true`, the response will not include
        the Datapoints.
        Use the List Datapoints endpoint (`GET /{id}/datapoints`) to efficiently
        retrieve Datapoints for a large Dataset.

        By default, the deployed version of the Dataset is returned. Use the query parameters
        `version_id` or `environment` to target a specific version of the Dataset.
      operationId: get_datasets__id__get
      parameters:
        - description: Unique identifier for Dataset.
          required: true
          schema:
            type: string
            title: Dataset ID
            description: Unique identifier for Dataset.
          name: id
          in: path
        - description: A specific Version ID of the Dataset to retrieve.
          required: false
          schema:
            type: string
            title: Version ID
            description: A specific Version ID of the Dataset to retrieve.
          name: version_id
          in: query
        - description: Name of the Environment to retrieve a deployed Version from.
          required: false
          schema:
            type: string
            title: Environment
            description: Name of the Environment to retrieve a deployed Version from.
          name: environment
          in: query
        - description: If set to `true`, include all Datapoints in the response. Defaults to `false`. Consider using the paginated List Datapoints endpoint instead.
          required: false
          schema:
            type: boolean
            title: Include Datapoints
            description: If set to `true`, include all Datapoints in the response. Defaults to `false`. Consider using the paginated List Datapoints endpoint instead.
            default: false
          name: include_datapoints
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Datasets
      summary: Delete
      description: Delete the Dataset with the given ID.
      operationId: delete_datasets__id__delete
      parameters:
        - description: Unique identifier for Dataset.
          required: true
          schema:
            type: string
            title: Dataset ID
            description: Unique identifier for Dataset.
          name: id
          in: path
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    patch:
      tags:
        - Datasets
      summary: Move
      description: Update the Dataset with the given ID.
      operationId: move_datasets__id__patch
      parameters:
        - description: Unique identifier for Dataset.
          required: true
          schema:
            type: string
            title: Dataset ID
            description: Unique identifier for Dataset.
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDatasetRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /datasets/{id}/datapoints:
    get:
      tags:
        - Datasets
      summary: List Datapoints
      description: List all Datapoints for the Dataset with the given ID.
      operationId: list_datapoints_datasets__id__datapoints_get
      parameters:
        - description: Unique identifier for Dataset.
          required: true
          schema:
            type: string
            title: Dataset ID
            description: Unique identifier for Dataset.
          name: id
          in: path
        - description: A specific Version ID of the Dataset to retrieve.
          required: false
          schema:
            type: string
            title: Version Id
            description: A specific Version ID of the Dataset to retrieve.
          name: version_id
          in: query
        - description: Name of the Environment to retrieve a deployed Version from.
          required: false
          schema:
            type: string
            title: Environment
            description: Name of the Environment to retrieve a deployed Version from.
          name: environment
          in: query
        - description: Page number for pagination.
          required: false
          schema:
            type: integer
            minimum: 1.0
            title: Page
            description: Page number for pagination.
            default: 1
          name: page
          in: query
        - description: Page size for pagination. Number of Datapoints to fetch.
          required: false
          schema:
            type: integer
            minimum: 0.0
            title: Size
            description: Page size for pagination. Number of Datapoints to fetch.
            default: 50
          name: size
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedData_DatapointResponse_"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /datasets/{id}/versions:
    get:
      tags:
        - Datasets
      summary: List Versions
      description: Get a list of the versions for a Dataset.
      operationId: list_versions_datasets__id__versions_get
      parameters:
        - description: Unique identifier for Dataset.
          required: true
          schema:
            type: string
            title: Dataset ID
            description: Unique identifier for Dataset.
          name: id
          in: path
        - description: "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/VersionStatus"
            description: "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
          name: status
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDatasets"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /datasets/{id}/versions/{version_id}/commit:
    post:
      tags:
        - Datasets
      summary: Commit
      description: Commit the Dataset Version with the given ID.
      operationId: commit_datasets__id__versions__version_id__commit_post
      parameters:
        - description: Unique identifier for Dataset.
          required: true
          schema:
            type: string
            title: Dataset ID
            description: Unique identifier for Dataset.
          name: id
          in: path
        - description: Unique identifier for the specific version of the Dataset.
          required: true
          schema:
            type: string
            title: Version ID
            description: Unique identifier for the specific version of the Dataset.
          name: version_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommitRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /datasets/{id}/datapoints/csv:
    post:
      tags:
        - Datasets
      summary: Upload Csv
      description: |-
        Add Datapoints from a CSV file to a Dataset.

        This will create a new committed version of the Dataset with the Datapoints from the CSV file.

        If either `version_id` or `environment` is provided, the new version will be based on the specified version,
        with the Datapoints from the CSV file added to the existing Datapoints in the version.
        If neither `version_id` nor `environment` is provided, the new version will be based on the version
        of the Dataset that is deployed to the default Environment.
      operationId: upload_csv_datasets__id__datapoints_csv_post
      parameters:
        - description: Unique identifier for the Dataset
          required: true
          schema:
            type: string
            title: Dataset ID
            description: Unique identifier for the Dataset
          name: id
          in: path
        - description: ID of the specific Dataset version to base the created Version on.
          required: false
          schema:
            type: string
            title: Version ID
            description: ID of the specific Dataset version to base the created Version on.
          name: version_id
          in: query
        - description: Name of the Environment identifying a deployed Version to base the created Version on.
          required: false
          schema:
            type: string
            title: Environment
            description: Name of the Environment identifying a deployed Version to base the created Version on.
          name: environment
          in: query
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Body_upload_csv_datasets__id__datapoints_csv_post"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /datasets/{id}/environments/{environment_id}:
    post:
      tags:
        - Datasets
      summary: Set Deployment
      description: |-
        Deploy Dataset to Environment.

        Set the deployed version for the specified Environment.
      operationId: set_deployment_datasets__id__environments__environment_id__post
      parameters:
        - description: Unique identifier for Dataset.
          required: true
          schema:
            type: string
            title: Dataset ID
            description: Unique identifier for Dataset.
          name: id
          in: path
        - description: Unique identifier for the Environment to deploy the Version to.
          required: true
          schema:
            type: string
            title: Environment ID
            description: Unique identifier for the Environment to deploy the Version to.
          name: environment_id
          in: path
        - description: Unique identifier for the specific version of the Dataset.
          required: true
          schema:
            type: string
            title: Version ID
            description: Unique identifier for the specific version of the Dataset.
          name: version_id
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatasetResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Datasets
      summary: Remove Deployment
      description: |-
        Remove deployed Dataset from Environment.

        Remove the deployed version for the specified Environment.
      operationId: remove_deployment_datasets__id__environments__environment_id__delete
      parameters:
        - description: Unique identifier for Dataset.
          required: true
          schema:
            type: string
            title: Dataset ID
            description: Unique identifier for Dataset.
          name: id
          in: path
        - description: Unique identifier for the Environment to remove the deployment from.
          required: true
          schema:
            type: string
            title: Environment ID
            description: Unique identifier for the Environment to remove the deployment from.
          name: environment_id
          in: path
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /datasets/{id}/environments:
    get:
      tags:
        - Datasets
      summary: List Environments
      description: List all Environments and their deployed versions for the Dataset.
      operationId: list_environments_datasets__id__environments_get
      parameters:
        - description: Unique identifier for Dataset.
          required: true
          schema:
            type: string
            title: Dataset ID
            description: Unique identifier for Dataset.
          name: id
          in: path
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FileEnvironmentResponse"
                type: array
                title: Response List Environments Datasets  Id  Environments Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /directories:
    get:
      tags:
        - Directories
      summary: "List "
      description: Retrieve a list of all Directories.
      operationId: list__directories_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DirectoryResponse"
                type: array
                title: Response List  Directories Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    post:
      tags:
        - Directories
      summary: Create
      description: Creates a Directory.
      operationId: create_directories_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDirectoryRequest"
        required: true
      responses:
        "201":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectoryResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /directories/{id}:
    get:
      tags:
        - Directories
      summary: Get
      description: Fetches a directory by ID.
      operationId: Directories_get
      parameters:
        - description: String ID of directory. Starts with `dir_`.
          required: true
          schema:
            type: string
            title: Directory ID
            description: String ID of directory. Starts with `dir_`.
          name: id
          in: path
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectoryWithParentsAndChildrenResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Directories
      summary: Delete
      description: |-
        Delete the Directory with the given ID.

        The Directory must be empty (i.e. contain no Directories or Files).
      operationId: Directories_delete
      parameters:
        - description: Unique identifier for Directory. Starts with `dir_`.
          required: true
          schema:
            type: string
            title: Directory ID
            description: Unique identifier for Directory. Starts with `dir_`.
          name: id
          in: path
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    patch:
      tags:
        - Directories
      summary: Update
      description: Update the Directory with the given ID.
      operationId: Directories_update
      parameters:
        - description: Unique identifier for Directory. Starts with `dir_`.
          required: true
          schema:
            type: string
            title: Directory ID
            description: Unique identifier for Directory. Starts with `dir_`.
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDirectoryRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectoryResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /evaluations:
    get:
      tags:
        - Evaluations
      summary: List Evaluations for File
      description: |-
        List Evaluations for the given File.

        Retrieve a list of Evaluations that evaluate versions of the specified File.
      operationId: list__evaluations_get
      parameters:
        - description: Filter by File ID. If provided, only Evaluation for the specified File will be returned.
          required: true
          schema:
            type: string
            title: File ID
            description: Filter by File ID. If provided, only Evaluation for the specified File will be returned.
          name: file_id
          in: query
        - description: Page number for pagination.
          required: false
          schema:
            type: integer
            minimum: 1.0
            title: Page number
            description: Page number for pagination.
            default: 1
          name: page
          in: query
        - description: Page size for pagination. Number of Evaluations to fetch.
          required: false
          schema:
            type: integer
            minimum: 0.0
            title: Page size
            description: Page size for pagination. Number of Evaluations to fetch.
            default: 10
          name: size
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedData_EvaluationResponse_"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    post:
      tags:
        - Evaluations
      summary: Create Evaluation
      description: |-
        Create an Evaluation.

        Create a new Evaluation by specifying the Dataset, Evaluatees, and Evaluators.
        Humanloop will automatically start generating Logs and running Evaluators.

        To keep updated on the progress of the Evaluation, you can poll the Evaluation
        and check its status.
      operationId: create_evaluations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEvaluationRequest"
        required: true
      responses:
        "201":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluationResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /evaluations/{id}:
    get:
      tags:
        - Evaluations
      summary: Get Evaluation
      description: |-
        Get an Evaluation.

        Retrieve the Evaluation with the given ID.
      operationId: get_evaluations__id__get
      parameters:
        - description: Unique identifier for Evaluation.
          required: true
          schema:
            type: string
            title: Evaluation ID
            description: Unique identifier for Evaluation.
          name: id
          in: path
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluationResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Evaluations
      summary: Delete Evaluation
      description: |-
        Delete an Evaluation.

        Remove an Evaluation from Humanloop. The Logs and Versions used in the Evaluation
        will not be deleted.
      operationId: delete_evaluations__id__delete
      parameters:
        - description: Unique identifier for Evaluation.
          required: true
          schema:
            type: string
            title: Evaluation ID
            description: Unique identifier for Evaluation.
          name: id
          in: path
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    patch:
      tags:
        - Evaluations
      summary: Update Evaluation
      description: |-
        Update an Evaluation.

        Update the setup of an Evaluation by specifying the Dataset, Evaluatees, and Evaluators.
      operationId: update_evaluations__id__patch
      parameters:
        - description: Unique identifier for Evaluation.
          required: true
          schema:
            type: string
            title: Evaluation ID
            description: Unique identifier for Evaluation.
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEvaluationRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluationResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /evaluations/{id}/status:
    patch:
      tags:
        - Evaluations
      summary: Update Status
      description: |-
        Update the status of an Evaluation.

        Can be used to cancel a running Evaluation, or mark an Evaluation that uses external or human evaluators
        as completed.
      operationId: update_status_evaluations__id__status_patch
      parameters:
        - description: Unique identifier for Evaluation.
          required: true
          schema:
            type: string
            title: Evaluation ID
            description: Unique identifier for Evaluation.
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Body_update_status_evaluations__id__status_patch"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluationResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /evaluations/{id}/stats:
    get:
      tags:
        - Evaluations
      summary: Get Evaluation Stats
      description: |-
        Get Evaluation Stats.

        Retrieve aggregate stats for the specified Evaluation.
        This includes the number of generated Logs for every evaluatee and Evaluator metrics
        (such as the mean and percentiles for numeric Evaluators for every evaluatee).
      operationId: get_stats_evaluations__id__stats_get
      parameters:
        - description: Unique identifier for Evaluation.
          required: true
          schema:
            type: string
            title: Evaluation ID
            description: Unique identifier for Evaluation.
          name: id
          in: path
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluationStats"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /evaluations/{id}/logs:
    get:
      tags:
        - Evaluations
      summary: Get Logs
      description: |-
        Get Logs by Evaluation ID.

        Each Evaluation Log corresponds to a (Datapoint, Evaluated Version) pair.
        It has an optional generated Log and a list of Evaluator Logs.
      operationId: get_logs_evaluations__id__logs_get
      parameters:
        - description: String ID of evaluation. Starts with `ev_` or `evr_`.
          required: true
          schema:
            type: string
            title: Evaluation ID
            description: String ID of evaluation. Starts with `ev_` or `evr_`.
          name: id
          in: path
        - description: Page number for pagination.
          required: false
          schema:
            type: integer
            minimum: 1.0
            title: Page number
            description: Page number for pagination.
            default: 1
          name: page
          in: query
        - description: Page size for pagination. Number of Logs to fetch.
          required: false
          schema:
            type: integer
            minimum: 0.0
            title: Page size
            description: Page size for pagination. Number of Logs to fetch.
            default: 10
          name: size
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedData_EvaluationReportLogResponse_"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /evaluators:
    get:
      tags:
        - Evaluators
      summary: "List "
      description: Get a list of Evaluators.
      operationId: list__evaluators_get
      parameters:
        - description: Page offset for pagination.
          required: false
          schema:
            type: integer
            minimum: 1.0
            title: Page index
            description: Page offset for pagination.
            default: 1
          name: page
          in: query
        - description: Page size for pagination. Number of Evaluators to fetch.
          required: false
          schema:
            type: integer
            title: Page size
            description: Page size for pagination. Number of Evaluators to fetch.
            default: 10
          name: size
          in: query
        - description: Case-insensitive filter for Evaluator name.
          required: false
          schema:
            type: string
            title: Evaluator name filter
            description: Case-insensitive filter for Evaluator name.
          name: name
          in: query
        - description: Case-insensitive filter for users in the Evaluator. This filter matches against both email address and name of users.
          required: false
          schema:
            type: string
            title: User filter
            description: Case-insensitive filter for users in the Evaluator. This filter matches against both email address and name of users.
          name: user_filter
          in: query
        - description: Field to sort Evaluators by
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/ProjectSortBy"
            title: Sort by
            description: Field to sort Evaluators by
            default: created_at
          name: sort_by
          in: query
        - description: Direction to sort by.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/SortOrder"
            title: Sort order
            description: Direction to sort by.
            default: desc
          name: order
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEvaluators"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    post:
      tags:
        - Evaluators
      summary: Upsert
      description: |-
        Create an Evaluator or update it with a new version if it already exists.

        Evaluators are identified by the `ID` or their `path`. The spec provided determines the version of the Evaluator.

        If you provide a commit message, then the new version will be committed;
        otherwise it will be uncommitted. If you try to commit an already committed version,
        an exception will be raised.
      operationId: upsert_evaluators_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/src__external__app__models__v5__evaluators__EvaluatorRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluatorResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /evaluators/{id}:
    get:
      tags:
        - Evaluators
      summary: Get
      description: |-
        Retrieve the Evaluator with the given ID.

        By default, the deployed version of the Evaluator is returned. Use the query parameters
        `version_id` or `environment` to target a specific version of the Evaluator.
      operationId: get_evaluators__id__get
      parameters:
        - description: Unique identifier for Evaluator.
          required: true
          schema:
            type: string
            title: Evaluator ID
            description: Unique identifier for Evaluator.
          name: id
          in: path
        - description: A specific Version ID of the Evaluator to retrieve.
          required: false
          schema:
            type: string
            title: Version ID
            description: A specific Version ID of the Evaluator to retrieve.
          name: version_id
          in: query
        - description: Name of the Environment to retrieve a deployed Version from.
          required: false
          schema:
            type: string
            title: Environment
            description: Name of the Environment to retrieve a deployed Version from.
          name: environment
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluatorResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Evaluators
      summary: Delete
      description: Delete the Evaluator with the given ID.
      operationId: delete_evaluators__id__delete
      parameters:
        - description: Unique identifier for Evaluator.
          required: true
          schema:
            type: string
            title: Evaluator ID
            description: Unique identifier for Evaluator.
          name: id
          in: path
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    patch:
      tags:
        - Evaluators
      summary: Move
      description: Move the Evaluator to a different path or change the name.
      operationId: move_evaluators__id__patch
      parameters:
        - description: Unique identifier for Evaluator.
          required: true
          schema:
            type: string
            title: Evaluator ID
            description: Unique identifier for Evaluator.
          name: id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEvaluatorRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluatorResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /evaluators/{id}/versions:
    get:
      tags:
        - Evaluators
      summary: List Versions
      description: Get a list of all the versions of an Evaluator.
      operationId: list_versions_evaluators__id__versions_get
      parameters:
        - description: Unique identifier for the Evaluator.
          required: true
          schema:
            type: string
            title: Prompt ID
            description: Unique identifier for the Evaluator.
          name: id
          in: path
        - description: "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/VersionStatus"
            description: "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
          name: status
          in: query
        - description: Whether to include Evaluator aggregate results for the versions in the response
          required: false
          schema:
            type: boolean
            title: Evaluator Aggregates
            description: Whether to include Evaluator aggregate results for the versions in the response
          name: evaluator_aggregates
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEvaluators"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /evaluators/{id}/versions/{version_id}/commit:
    post:
      tags:
        - Evaluators
      summary: Commit
      description: Commit the Evaluator Version with the given ID.
      operationId: commit_evaluators__id__versions__version_id__commit_post
      parameters:
        - description: Unique identifier for Prompt.
          required: true
          schema:
            type: string
            title: Evaluator ID
            description: Unique identifier for Prompt.
          name: id
          in: path
        - description: Unique identifier for the specific version of the Evaluator.
          required: true
          schema:
            type: string
            title: Version ID
            description: Unique identifier for the specific version of the Evaluator.
          name: version_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommitRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluatorResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /evaluators/{id}/environments/{environment_id}:
    post:
      tags:
        - Evaluators
      summary: Set Deployment
      description: |-
        Deploy Evaluator to an Environment.

        Set the deployed version for the specified Environment. This Evaluator
        will be used for calls made to the Evaluator in this Environment.
      operationId: set_deployment_evaluators__id__environments__environment_id__post
      parameters:
        - description: Unique identifier for Evaluator.
          required: true
          schema:
            type: string
            title: Evaluator ID
            description: Unique identifier for Evaluator.
          name: id
          in: path
        - description: Unique identifier for the Environment to deploy the Version to.
          required: true
          schema:
            type: string
            title: Environment ID
            description: Unique identifier for the Environment to deploy the Version to.
          name: environment_id
          in: path
        - description: Unique identifier for the specific version of the Evaluator.
          required: true
          schema:
            type: string
            title: Version ID
            description: Unique identifier for the specific version of the Evaluator.
          name: version_id
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluatorResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Evaluators
      summary: Remove Deployment
      description: |-
        Remove deployed Evaluator from the Environment.

        Remove the deployed version for the specified Environment. This Evaluator
        will no longer be used for calls made to the Evaluator in this Environment.
      operationId: remove_deployment_evaluators__id__environments__environment_id__delete
      parameters:
        - description: Unique identifier for Evaluator.
          required: true
          schema:
            type: string
            title: Evaluator ID
            description: Unique identifier for Evaluator.
          name: id
          in: path
        - description: Unique identifier for the Environment to remove the deployment from.
          required: true
          schema:
            type: string
            title: Environment ID
            description: Unique identifier for the Environment to remove the deployment from.
          name: environment_id
          in: path
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /evaluators/{id}/environments:
    get:
      tags:
        - Evaluators
      summary: List Environments
      description: List all Environments and their deployed versions for the Evaluator.
      operationId: list_environments_evaluators__id__environments_get
      parameters:
        - description: Unique identifier for Evaluator.
          required: true
          schema:
            type: string
            title: Evaluator ID
            description: Unique identifier for Evaluator.
          name: id
          in: path
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FileEnvironmentResponse"
                type: array
                title: Response List Environments Evaluators  Id  Environments Get
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /logs:
    get:
      tags:
        - Logs
      summary: "List "
      description: List Logs.
      operationId: list__logs_get
      parameters:
        - description: Unique identifier for the File to list Logs for.
          required: true
          schema:
            type: string
            title: File ID
            description: Unique identifier for the File to list Logs for.
          name: file_id
          in: query
        - description: Page number for pagination.
          required: false
          schema:
            type: integer
            minimum: 1.0
            title: Page number
            description: Page number for pagination.
            default: 1
          name: page
          in: query
        - description: Page size for pagination. Number of Logs to fetch.
          required: false
          schema:
            type: integer
            minimum: 0.0
            title: Page size
            description: Page size for pagination. Number of Logs to fetch.
            default: 10
          name: size
          in: query
        - description: If provided, only Logs belonging to the specified Version will be returned.
          required: false
          schema:
            type: string
            title: Version ID
            description: If provided, only Logs belonging to the specified Version will be returned.
          name: version_id
          in: query
        - description: If provided, only Logs belonging to Versions with the specified status will be returned.
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/VersionStatus"
            title: Version status
            description: If provided, only Logs belonging to Versions with the specified status will be returned.
          name: version_status
          in: query
        - description: If provided, only Logs that contain the provided string in its inputs and output will be returned.
          required: false
          schema:
            type: string
            title: Search
            description: If provided, only Logs that contain the provided string in its inputs and output will be returned.
          name: search
          in: query
        - description: If provided, only Logs that contain the provided string in its metadata will be returned.
          required: false
          schema:
            type: string
            title: Metadata search
            description: If provided, only Logs that contain the provided string in its metadata will be returned.
          name: metadata_search
          in: query
        - description: If provided, only Logs created after the specified date will be returned.
          required: false
          schema:
            type: string
            format: date-time
            title: Start date
            description: If provided, only Logs created after the specified date will be returned.
          name: start_date
          in: query
        - description: If provided, only Logs created before the specified date will be returned.
          required: false
          schema:
            type: string
            format: date-time
            title: End date
            description: If provided, only Logs created before the specified date will be returned.
          name: end_date
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedData_PromptLogResponse_"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Logs
      summary: Delete
      description: Delete Logs with the given IDs.
      operationId: Logs_delete
      parameters:
        - description: Unique identifiers for the Logs to delete.
          required: true
          schema:
            items:
              type: string
            type: array
            title: Log IDs
            description: Unique identifiers for the Logs to delete.
          name: id
          in: query
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /logs/{id}:
    get:
      tags:
        - Logs
      summary: Get Log
      description: Retrieve the Log with the given ID.
      operationId: get_logs__id__get
      parameters:
        - description: Unique identifier for Log.
          required: true
          schema:
            type: string
            title: Log ID
            description: Unique identifier for Log.
          name: id
          in: path
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptLogResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /sessions/{id}:
    get:
      tags:
        - Sessions
      summary: Get
      description: Retrieve the Session with the given ID.
      operationId: get_sessions__id__get
      parameters:
        - description: Unique identifier for Session.
          required: true
          schema:
            type: string
            title: Session ID
            description: Unique identifier for Session.
          name: id
          in: path
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
    delete:
      tags:
        - Sessions
      summary: Delete
      description: Delete the Session with the given ID.
      operationId: delete_sessions__id__delete
      parameters:
        - description: Unique identifier for Session.
          required: true
          schema:
            type: string
            title: Session ID
            description: Unique identifier for Session.
          name: id
          in: path
      responses:
        "204":
          description: Successful Response
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /sessions:
    get:
      tags:
        - Sessions
      summary: "List "
      description: Get a list of Sessions.
      operationId: list__sessions_get
      parameters:
        - description: Unique identifier for File to return Sessions for. Sessions that contain any Logs associated to this File will be returned.
          required: false
          schema:
            type: string
            title: File ID
            description: Unique identifier for File to return Sessions for. Sessions that contain any Logs associated to this File will be returned.
          name: file_id
          in: query
        - description: Unique identifier for Version to return Sessions for. Sessions that contain any Logs associated to this Version will be returned.
          required: false
          schema:
            type: string
            title: Version ID
            description: Unique identifier for Version to return Sessions for. Sessions that contain any Logs associated to this Version will be returned.
          name: version_id
          in: query
        - description: Page number for pagination.
          required: false
          schema:
            type: integer
            minimum: 1.0
            title: Page
            description: Page number for pagination.
            default: 1
          name: page
          in: query
        - description: Page size for pagination. Number of Sessions to fetch.
          required: false
          schema:
            type: integer
            minimum: 0.0
            title: Size
            description: Page size for pagination. Number of Sessions to fetch.
            default: 10
          name: size
          in: query
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedData_SessionResponse_"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
components:
  schemas:
    AgentConfigResponse:
      properties:
        id:
          type: string
          title: Config ID
          description: String ID of config. Starts with `config_`.
        other:
          type: object
          title: Other parameters
          description: Other parameters that define the config.
        type:
          type: string
          enum:
            - agent
          title: Type
        created_by:
          allOf:
            - $ref: "#/components/schemas/src__external__app__models__v4__orgs__base_models__UserResponse"
          title: Created by
          description: The user who created the config.
        status:
          type: string
          title: Status
          description: Whether the config is committed or not.
        name:
          type: string
          title: Config name
          description: Name of config.
        description:
          type: string
          title: Config description
          description: Description of config.
        agent_class:
          type: string
          title: Agent class
          description: Class of the agent.
        tools:
          items:
            $ref: "#/components/schemas/ToolConfigRequest"
          type: array
          title: Tools
          description: Tools associated with the agent.
          default: []
        model_config:
          allOf:
            - $ref: "#/components/schemas/ModelConfigRequest"
          title: Model config
          description: Model config associated with the agent.
      type: object
      required:
        - id
        - type
        - status
        - name
        - agent_class
        - model_config
      title: AgentConfigResponse
    BaseMetricResponse:
      properties:
        id:
          type: string
          title: Metric ID
          description: ID of the metric. Starts with 'metric_'.
        name:
          type: string
          title: Metric name
          description: The name of the metric.
        description:
          type: string
          title: Metric description
          description: A description of what the metric measures.
[...]
