{
  "openapi": "3.0.2",
  "info": {
    "title": "Humanloop API",
    "description": "The Humanloop API allows you to interact with Humanloop from your product or service.\n\nYou can do this through HTTP requests from any language or via our official Python or TypeScript SDK.\n\nTo install the official [Python SDK](https://pypi.org/project/humanloop/), run the following command:\n\n```bash\npip install humanloop\n```\n\nTo install the official [TypeScript SDK](https://www.npmjs.com/package/humanloop), run the following command:\n\n```bash\nnpm i humanloop\n```\n\n---\n\nGuides and further details about key concepts can be found in [our docs](https://docs.humanloop.com/).",
    "version": "5.0.0"
  },
  "servers": [
    {
      "url": "https://api.humanloop.com/v5",
      "description": "Production server"
    }
  ],
  "paths": {
    "/prompts": {
      "get": {
        "tags": ["Prompts"],
        "summary": "List ",
        "description": "Get a list of Prompts.",
        "operationId": "Prompts_list",
        "parameters": [
          {
            "description": "Page offset for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1.0,
              "title": "Page index",
              "description": "Page offset for pagination.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Page size for pagination. Number of Prompts to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page size",
              "description": "Page size for pagination. Number of Prompts to fetch.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for Prompt name.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Prompt name filter",
              "description": "Case-insensitive filter for Prompt name."
            },
            "name": "name",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for users in the Prompt. This filter matches against both email address and name of users.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "User filter",
              "description": "Case-insensitive filter for users in the Prompt. This filter matches against both email address and name of users."
            },
            "name": "user_filter",
            "in": "query"
          },
          {
            "description": "Field to sort Prompts by",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ProjectSortBy"
                }
              ],
              "title": "Sort by",
              "description": "Field to sort Prompts by",
              "default": "created_at"
            },
            "name": "sort_by",
            "in": "query"
          },
          {
            "description": "Direction to sort by.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "title": "Sort order",
              "description": "Direction to sort by.",
              "default": "desc"
            },
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPrompts"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": ["Prompts"],
        "summary": "Create Prompt",
        "description": "Create a Prompt.\n\nPrompts have immutable versions. When you call this endpoint\nwith the same Prompt name but different parameters, a new version of\nthe Prompt will be created.\n\nIf you provide a commit message, then the new version will be committed;\notherwise it will be uncommitted. If you try to commit an already committed version,\nan exception will be raised.",
        "operationId": "Prompts_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}": {
      "get": {
        "tags": ["Prompts"],
        "summary": "Get Prompt",
        "description": "Retrieve the Prompt with the given ID.",
        "operationId": "Prompts_get",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "A specific Version Id  of the Prompt to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version Id",
              "description": "A specific Version Id  of the Prompt to retrieve."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "An environment tag to retrieve a deployed Version from.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "An environment tag to retrieve a deployed Version from."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Prompts"],
        "summary": "Delete Prompt",
        "description": "Delete the Prompt with the given ID.",
        "operationId": "Prompts_delete",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": ["Prompts"],
        "summary": "Update Prompt",
        "description": "Update the Prompt with the given ID.",
        "operationId": "Prompts_update",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}/versions": {
      "get": {
        "tags": ["Prompts"],
        "summary": "List Versions",
        "description": "Get a list of the Prompt Versions for a Prompt.",
        "operationId": "Prompts_listVersions",
        "parameters": [
          {
            "description": "Unique identifier for the Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for the Prompt."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/VersionStatus"
                }
              ],
              "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
            },
            "name": "status",
            "in": "query"
          },
          {
            "description": "Filter versions by environment tag. If no environment is provided, all versions are returned.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Filter versions by environment tag. If no environment is provided, all versions are returned."
            },
            "name": "environment",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Evaluation Aggregates"
            },
            "name": "evaluation_aggregates",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPrompts"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}/versions/{version_id}/deploy": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Deploy",
        "description": "Deploy Prompt to Environment.\n\nSet the deployed Version for the specified Environment. This Prompt Version\nwill be used for calls made to the Prompt in this Environment.",
        "operationId": "deploy_prompts__id__versions__version_id__deploy_post",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the specific version of the Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "Unique identifier for the specific version of the Prompt."
            },
            "name": "version_id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the Environment to deploy the Version to.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Environment ID",
              "description": "Unique identifier for the Environment to deploy the Version to."
            },
            "name": "environment_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}/versions/{version_id}/commit": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Commit",
        "description": "Commit the Prompt Version with the given ID.",
        "operationId": "Prompts_commit",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the specific version of the Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "Unique identifier for the specific version of the Prompt."
            },
            "name": "version_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitPromptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}/log": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Log",
        "description": "Log to a Prompt.\n\nYou can use query parameters version_id, or environment, to target\nan existing version of the Prompt. Otherwise the default deployed version will be chosen.\n\nInstead of targeting an existing version explicitly, you can instead pass in\nPrompt details in the request body. In this case, we will check if the details correspond\nto an existing version of the Prompt, if not we will create a new version. This is helpful\nin the case where you are storing or deriving your Prompt details in code.",
        "operationId": "Prompts_log",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "A specific Version Id  of the Prompt to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version Id",
              "description": "A specific Version Id  of the Prompt to retrieve."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "An environment tag to retrieve a deployed Version from.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "An environment tag to retrieve a deployed Version from."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptLogRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePromptLogResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}/call": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Call",
        "description": "Call a Prompt.\n\nCalling a Prompt subsequently calls the model provider before logging\nthe data to Humanloop.\n\nYou can use query parameters version_id, or environment, to target\nan existing version of the Prompt. Otherwise the default deployed version will be chosen.\n\nInstead of targeting an existing version explicitly, you can instead pass in\nPrompt details in the request body. In this case, we will check if the details correspond\nto an existing version of the Prompt, if not we will create a new version. This is helpful\nin the case where you are storing or deriving your Prompt details in code.",
        "operationId": "Prompts_call",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "A specific Version Id  of the Prompt to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version Id",
              "description": "A specific Version Id  of the Prompt to retrieve."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "An environment tag to retrieve a deployed Version from.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "An environment tag to retrieve a deployed Version from."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptCallRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PromptCallResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PromptCallStreamResponse"
                    }
                  ],
                  "title": "Response Prompts Call"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}/evaluators": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Update Evaluators",
        "description": "Activate and deactivate Evaluators for the Prompt.\n\nAn activated Evaluator will automatically be run on all new Logs\nwithin the Prompt for monitoring purposes.",
        "operationId": "Update_evaluators_prompts__id__evaluators_post",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluatorActivationDeactivationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/templates": {
      "get": {
        "tags": ["Tools"],
        "summary": "List Tool Templates",
        "operationId": "list_tool_templates_tools_templates_get",
        "parameters": [
          {
            "description": "Type of tool to return the template",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/src__domain__files__tool__ToolType"
                }
              ],
              "title": "Specific tool type template",
              "description": "Type of tool to return the template"
            },
            "name": "tool_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ToolTemplateResponse"
                  },
                  "type": "array",
                  "title": "Response List Tool Templates Tools Templates Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools": {
      "post": {
        "tags": ["Tools"],
        "summary": "Create A Tool",
        "description": "Create a Tool in an existing Directory. If no Directory is specified, the\nTool will be created in the Organization's root directory.",
        "operationId": "Tools_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateToolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/src__external__app__models__v5__tools__tools__ToolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{id}": {
      "get": {
        "tags": ["Tools"],
        "summary": "Retrieve A Tool",
        "description": "Retrieve the Tool with the given ID.",
        "operationId": "Tools_get",
        "parameters": [
          {
            "description": "Unique identifier for Tool. Starts with `tl_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool. Starts with `tl_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/src__external__app__models__v5__tools__tools__ToolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Tools"],
        "summary": "Delete A Tool",
        "description": "Delete the Tool with the given ID.",
        "operationId": "Tools_delete",
        "parameters": [
          {
            "description": "Unique identifier for Tool. Starts with `tl_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool. Starts with `tl_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": ["Tools"],
        "summary": "Update A Tool",
        "description": "Update the Tool with the given ID.",
        "operationId": "Tools_update",
        "parameters": [
          {
            "description": "Unique identifier for Tool. Starts with `tl_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool. Starts with `tl_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateToolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/src__external__app__models__v5__tools__tools__ToolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{id}/versions": {
      "get": {
        "tags": ["Tools"],
        "summary": "List Tool Versions",
        "description": "Get a list of the Tool Versions for a Tool.",
        "operationId": "Tools_list",
        "parameters": [
          {
            "description": "Unique identifier for Tool. Starts with `tl_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool. Starts with `tl_`."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Filter versions by status: 'uncommitted', 'committed''",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/VersionStatus"
                }
              ],
              "description": "Filter versions by status: 'uncommitted', 'committed''",
              "default": "committed"
            },
            "name": "status",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Evaluation Aggregates"
            },
            "name": "evaluation_aggregates",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListToolVersionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/versions": {
      "post": {
        "tags": ["Tools"],
        "summary": "Commit A Tool Version",
        "description": "Commit a new Tool Version for the Tool with the given ID.",
        "operationId": "ToolVersions_commit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateToolVersionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolVersionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/versions/{id}": {
      "get": {
        "tags": ["Tools"],
        "summary": "Retrieve A Tool Version",
        "description": "Retrieve the Tool Version with the given ID.",
        "operationId": "ToolVersions_get",
        "parameters": [
          {
            "description": "Unique identifier for Tool. Starts with `tl_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool. Starts with `tl_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolVersionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets": {
      "get": {
        "tags": ["Datasets"],
        "summary": "List ",
        "description": "Get a list of Datasets.",
        "operationId": "Datasets_list",
        "parameters": [
          {
            "description": "Page offset for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1.0,
              "title": "Page index",
              "description": "Page offset for pagination.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Page size for pagination. Number of Datasets to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page size",
              "description": "Page size for pagination. Number of Datasets to fetch.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for Dataset name.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Dataset name filter",
              "description": "Case-insensitive filter for Dataset name."
            },
            "name": "name",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for users in the Dataset. This filter matches against both email address and name of users.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "User filter",
              "description": "Case-insensitive filter for users in the Dataset. This filter matches against both email address and name of users."
            },
            "name": "user_filter",
            "in": "query"
          },
          {
            "description": "Field to sort Datasets by",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ProjectSortBy"
                }
              ],
              "title": "Sort by",
              "description": "Field to sort Datasets by",
              "default": "created_at"
            },
            "name": "sort_by",
            "in": "query"
          },
          {
            "description": "Direction to sort by.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "title": "Sort order",
              "description": "Direction to sort by.",
              "default": "desc"
            },
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_DatasetResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": ["Datasets"],
        "summary": "Create Dataset",
        "description": "Create a Dataset.\n\nDataset have immutable versions. When you call this endpoint\nwith the same Dataset name but different parameters, a new version of\nthe Dataset will be created.\n\nIf you provide a commit message, then the new version will be committed;\notherwise it will be uncommitted. If you try to commit an already committed version,\nan exception will be raised.\n\nBy default, the new Dataset version will be set to the list of Datapoints provided in\nthe request.\nYou can create a new version by adding or removing Datapoints from an existing version\nby specifying `action` as `add` or `remove` respectively. In this case, you may specify\nthe `version_id` or `environment` query parameters to identify the existing version to base\nthe new version on. If neither is provided, the default deployed version will be used.\n\nHumanloop also deduplicates Datapoints. If you try to add a Datapoint that already\nexists, it will be ignored.",
        "operationId": "Datasets_create",
        "parameters": [
          {
            "description": "ID of the specific Dataset version to base the created Version on. Only used when `action` is `\"add\"` or `\"remove\"`.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "ID of the specific Dataset version to base the created Version on. Only used when `action` is `\"add\"` or `\"remove\"`."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "An environment tag to identify a deployed Version to base the created Version on. Only used when `action` is `\"add\"` or `\"remove\"`.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "An environment tag to identify a deployed Version to base the created Version on. Only used when `action` is `\"add\"` or `\"remove\"`."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/src__external__app__models__v5__datasets__DatasetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}": {
      "get": {
        "tags": ["Datasets"],
        "summary": "Get Dataset",
        "description": "Retrieve the Dataset with the given ID.\n\nUnless `include_datapoints` is set to `true`, the response will not include\nthe Datapoints.\nUse the List Datapoints endpoint (`GET /{id}/datapoints`) to efficiently\nretrieve Datapoints for a large Dataset.",
        "operationId": "Datasets_get",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "A specific Version ID of the Dataset to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version Id",
              "description": "A specific Version ID of the Dataset to retrieve."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "An environment tag to retrieve a deployed Version from.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "An environment tag to retrieve a deployed Version from."
            },
            "name": "environment",
            "in": "query"
          },
          {
            "description": "If set to `true`, include all Datapoints in the response. Defaults to `false`. Consider using the paginated List Datapoints endpoint instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Include Datapoints",
              "description": "If set to `true`, include all Datapoints in the response. Defaults to `false`. Consider using the paginated List Datapoints endpoint instead.",
              "default": false
            },
            "name": "include_datapoints",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Datasets"],
        "summary": "Delete Dataset",
        "description": "Delete the Dataset with the given ID.",
        "operationId": "Datasets_delete",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": ["Datasets"],
        "summary": "Update Dataset",
        "description": "Update the Dataset with the given ID.",
        "operationId": "Datasets_update",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatasetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}/datapoints": {
      "get": {
        "tags": ["Datasets"],
        "summary": "List Datapoints",
        "description": "List all Datapoints for the Dataset with the given ID.",
        "operationId": "Datasets_listDatapoints",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "A specific Version ID of the Dataset to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version Id",
              "description": "A specific Version ID of the Dataset to retrieve."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "An environment tag to retrieve a deployed Version from.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "An environment tag to retrieve a deployed Version from."
            },
            "name": "environment",
            "in": "query"
          },
          {
            "description": "Page number to retrieve. Defaults to 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1.0,
              "title": "Page",
              "description": "Page number to retrieve. Defaults to 1.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Number of records per page. Defaults to 50.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1.0,
              "title": "Size",
              "description": "Number of records per page. Defaults to 50.",
              "default": 50
            },
            "name": "size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_DatapointResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}/versions": {
      "get": {
        "tags": ["Datasets"],
        "summary": "List Versions",
        "description": "Get a list of the versions for a Dataset.",
        "operationId": "Datasets_listVersions",
        "parameters": [
          {
            "description": "Unique identifier for the Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for the Dataset."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/VersionStatus"
                }
              ],
              "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
            },
            "name": "status",
            "in": "query"
          },
          {
            "description": "Filter versions by environment tag. If no environment is provided, all versions are returned.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Filter versions by environment tag. If no environment is provided, all versions are returned."
            },
            "name": "environment",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Evaluation Aggregates"
            },
            "name": "evaluation_aggregates",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDatasets"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}/versions/{version_id}/deploy": {
      "post": {
        "tags": ["Datasets"],
        "summary": "Deploy",
        "description": "Deploy Dataset to Environment.\n\nSet the deployed Version for the specified Environment.",
        "operationId": "deploy_datasets__id__versions__version_id__deploy_post",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the specific version of the Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "Unique identifier for the specific version of the Dataset."
            },
            "name": "version_id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the Environment to deploy the Version to.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Environment ID",
              "description": "Unique identifier for the Environment to deploy the Version to."
            },
            "name": "environment_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations": {
      "get": {
        "tags": ["Evaluations"],
        "summary": "List Evaluation Reports",
        "description": "List Evaluation Reports for the specified File.",
        "operationId": "Evaluations_list",
        "parameters": [
          {
            "description": "Filter by File ID. If provided, only Evaluation Reports for the specified File will be returned.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File ID",
              "description": "Filter by File ID. If provided, only Evaluation Reports for the specified File will be returned."
            },
            "name": "file_id",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Size",
              "default": 50
            },
            "name": "size",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page",
              "default": 0
            },
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_EvaluationResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": ["Evaluations"],
        "summary": "Create an Evaluation",
        "description": "Create an Evaluation.",
        "operationId": "Evaluations_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvaluationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{id}": {
      "get": {
        "tags": ["Evaluations"],
        "summary": "Get an Evaluation Report",
        "description": "Get an Evaluation Report.",
        "operationId": "Evaluations_get",
        "parameters": [
          {
            "description": "Unique identifier for the Evaluation Report.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "Unique identifier for the Evaluation Report."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Evaluations"],
        "summary": "Delete an Evaluation",
        "description": "Delete an Evaluation.",
        "operationId": "Evaluations_delete",
        "parameters": [
          {
            "description": "Unique identifier for the Evaluation.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "Unique identifier for the Evaluation."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": ["Evaluations"],
        "summary": "Update an Evaluation",
        "description": "Update an Evaluation.",
        "operationId": "Evaluations_update",
        "parameters": [
          {
            "description": "Unique identifier for the Evaluation Report.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "Unique identifier for the Evaluation Report."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvaluationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{id}/status": {
      "patch": {
        "tags": ["Evaluations"],
        "summary": "Update Status",
        "description": "Update the status of an Evaluation.\n\nCan be used to cancel a running Evaluation, or mark an Evaluation that uses external or human evaluators\nas completed.",
        "operationId": "Evaluations_updateStatus",
        "parameters": [
          {
            "description": "Unique identifier for the Evaluation Report.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "Unique identifier for the Evaluation Report."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_Evaluations_updateStatus"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{id}/stats": {
      "get": {
        "tags": ["Evaluations"],
        "summary": "Get Evaluation Stats",
        "description": "Get Evaluation Stats.",
        "operationId": "Evaluations_getStats",
        "parameters": [
          {
            "description": "Unique identifier for the Evaluation Report.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "Unique identifier for the Evaluation Report."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationStats"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{id}/progress": {
      "get": {
        "tags": ["Evaluations"],
        "summary": "Get Progress",
        "description": "Get missing data for an Evaluation.",
        "operationId": "Evaluations_getMissingData",
        "parameters": [
          {
            "description": "Unique identifier for the Evaluation.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "Unique identifier for the Evaluation."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationReportMissingData"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluators/default": {
      "get": {
        "tags": ["Evaluators"],
        "summary": "List Default Evaluators",
        "description": "Get a list of default evaluators for the organization.",
        "operationId": "Evaluators_listDefault",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EvaluatorResponse"
                  },
                  "type": "array",
                  "title": "Response Evaluators Listdefault"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluators": {
      "post": {
        "tags": ["Evaluators"],
        "summary": "Create An Evaluator",
        "description": "Create an Evaluator in an existing Directory. If no Directory is specified, the\nEvaluator will be created in the Organization's root directory.",
        "operationId": "Evaluators_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvaluatorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluators/{id}": {
      "get": {
        "tags": ["Evaluators"],
        "summary": "Retrieve A Evaluator",
        "operationId": "Evaluators_get",
        "parameters": [
          {
            "description": "Unique identifier for Evaluator. Starts with `ev_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluator ID",
              "description": "Unique identifier for Evaluator. Starts with `ev_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Evaluators"],
        "summary": "Delete A Evaluator",
        "description": "Delete the Evaluator with the given ID.",
        "operationId": "Evaluators_delete",
        "parameters": [
          {
            "description": "Unique identifier for Evaluator. Starts with `ev_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluator ID",
              "description": "Unique identifier for Evaluator. Starts with `ev_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": ["Evaluators"],
        "summary": "Update A Evaluator",
        "description": "Update the Evaluator with the given ID.",
        "operationId": "Evaluators_update",
        "parameters": [
          {
            "description": "Unique identifier for Evaluator. Starts with `ev_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluator ID",
              "description": "Unique identifier for Evaluator. Starts with `ev_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEvaluatorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluators/{id}/versions": {
      "get": {
        "tags": ["Evaluators"],
        "summary": "List Evaluator Versions",
        "description": "Get a list of the Evaluator Versions for a Evaluator.",
        "operationId": "Evaluators_list",
        "parameters": [
          {
            "description": "Unique identifier for Evaluator. Starts with `ev_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluator ID",
              "description": "Unique identifier for Evaluator. Starts with `ev_`."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/VersionStatus"
                }
              ],
              "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
            },
            "name": "status",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Evaluation Aggregates"
            },
            "name": "evaluation_aggregates",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEvaluatorVersionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluators/{id}/deployments": {
      "post": {
        "tags": ["Evaluators"],
        "summary": "Deploy",
        "description": "Deploy Evaluator Version to Environment.\n\nSet the deployed Version for the specified Environment. This Evaluator Version\nwill be used for calls made to the Evaluator in this Environment.",
        "operationId": "deploy_evaluators__id__deployments_post",
        "parameters": [
          {
            "description": "Unique identifier for Evaluator. Starts with `ev_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluator ID",
              "description": "Unique identifier for Evaluator. Starts with `ev_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluators/versions": {
      "post": {
        "tags": ["Evaluators"],
        "summary": "Commit Evaluator Version",
        "description": "Commit a new Evaluator Version for the Evaluator with the given ID.",
        "operationId": "EvaluatorVersions_commit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateLLMEvaluatorVersionRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreatePythonEvaluatorVersionRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateHumanEvaluatorVersionRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateExternalEvaluatorVersionRequest"
                  }
                ],
                "title": "Request",
                "discriminator": {
                  "propertyName": "evaluator_type",
                  "mapping": {
                    "llm": "#/components/schemas/CreateLLMEvaluatorVersionRequest",
                    "python": "#/components/schemas/CreatePythonEvaluatorVersionRequest",
                    "human": "#/components/schemas/CreateHumanEvaluatorVersionRequest",
                    "external": "#/components/schemas/CreateExternalEvaluatorVersionRequest"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorVersionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluators/versions/{id}": {
      "get": {
        "tags": ["Evaluators"],
        "summary": "Retrieve Evaluator Version",
        "description": "Retrieve the Evaluator Version with the given ID.",
        "operationId": "EvaluatorVersions_get",
        "parameters": [
          {
            "description": "Unique identifier for Evaluator. Starts with `ev_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluator ID",
              "description": "Unique identifier for Evaluator. Starts with `ev_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorVersionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AgentConfigResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Config ID",
            "description": "String ID of config. Starts with `config_`."
          },
          "other": {
            "type": "object",
            "title": "Other parameters",
            "description": "Other parameters that define the config."
          },
          "type": {
            "type": "string",
            "enum": ["agent"],
            "title": "Type"
          },
          "created_by": {
            "allOf": [
              {
                "$ref": "#/components/schemas/src__external__app__models__v4__orgs__base_models__UserResponse"
              }
            ],
            "title": "Created by",
            "description": "The user who created the config."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Whether the config is committed or not."
          },
          "name": {
            "type": "string",
            "title": "Config name",
            "description": "Name of config."
          },
          "description": {
            "type": "string",
            "title": "Config description",
            "description": "Description of config."
          },
          "agent_class": {
            "type": "string",
            "title": "Agent class",
            "description": "Class of the agent."
          },
          "tools": {
            "items": {
              "$ref": "#/components/schemas/ToolConfigRequest"
            },
            "type": "array",
            "title": "Tools",
            "description": "Tools associated with the agent.",
            "default": []
          },
          "model_config": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ModelConfigRequest"
              }
            ],
            "title": "Model config",
            "description": "Model config associated with the agent."
          }
        },
        "type": "object",
        "required": [
          "id",
          "type",
          "status",
          "name",
          "agent_class",
          "model_config"
        ],
        "title": "AgentConfigResponse"
      },
      "Body_Evaluations_updateStatus": {
        "properties": {
          "status": {
            "$ref": "#/components/schemas/EvaluationStatus"
          }
        },
        "type": "object",
        "required": ["status"],
        "title": "Body_Evaluations_updateStatus"
      },
      "BooleanEvaluatorVersionStats": {
        "properties": {
          "evaluator_version_id": {
            "type": "string",
            "title": "Evaluator Version ID",
            "description": "Unique identifier for the Evaluator Version."
          },
          "total_logs": {
            "type": "integer",
            "title": "Total Evaluator Logs",
            "description": "The total number of Logs generated by this Evaluator Version on the Evaluated Version's Logs. This includes Nulls and Errors."
          },
          "num_judgments": {
            "type": "integer",
            "title": "Number of Judgments",
            "description": "The total number of Evaluator judgments for this Evaluator Version. This excludes Nulls and Errors."
          },
          "num_nulls": {
            "type": "integer",
            "title": "Number of Nulls",
            "description": "The total number of null judgments (i.e. abstentions) for this Evaluator Version."
          },
          "num_errors": {
            "type": "integer",
            "title": "Number of Errors",
            "description": "The total number of errored Evaluators for this Evaluator Version."
          },
          "num_true": {
            "type": "integer",
            "title": "Number of True",
            "description": "The total number of `True` judgments for this Evaluator Version."
          },
          "num_false": {
            "type": "integer",
            "title": "Number of False",
            "description": "The total number of `False` judgments for this Evaluator Version."
          }
        },
        "type": "object",
        "required": [
          "evaluator_version_id",
          "total_logs",
          "num_judgments",
          "num_nulls",
          "num_errors",
          "num_true",
          "num_false"
        ],
        "title": "BooleanEvaluatorVersionStats",
        "description": "Base attributes for stats for an Evaluator Version-Evaluated Version pair\nin the Evaluation Report."
      },
      "CategoricalFeedbackLabel": {
        "properties": {
          "value": {
            "type": "string",
            "title": "Label value"
          },
          "sentiment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LabelSentiment"
              }
            ],
            "title": "Feedback label sentiment",
            "description": "Whether the feedback sentiment is positive or negative."
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FeedbackLabelStatus"
              }
            ],
            "title": "Feedback label status",
            "description": "Whether the feedback label is active or inactive."
          }
        },
        "type": "object",
        "required": ["value", "sentiment", "status"],
        "title": "CategoricalFeedbackLabel"
      },
      "ChatMessage": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/TextChatContent"
                    },
                    {
                      "$ref": "#/components/schemas/ImageChatContent"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "title": "Content",
            "description": "The content of the message.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Optional name of the message author.",
            "nullable": true
          },
          "tool_call_id": {
            "type": "string",
            "title": "Tool call id",
            "description": "Tool call that this message is responding to.",
            "nullable": true
          },
          "role": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ChatRole"
              }
            ],
            "title": "Role",
            "description": "Role of the message author."
          },
          "tool_calls": {
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            },
            "type": "array",
            "title": "Tool calls",
            "description": "A list of tool calls requested by the assistant.",
            "nullable": true
          }
        },
        "type": "object",
        "required": ["role"],
        "title": "ChatMessage"
      },
      "ChatMessageWithToolCall": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/TextChatContent"
                    },
                    {
                      "$ref": "#/components/schemas/ImageChatContent"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "title": "Content",
            "description": "The content of the message.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Optional name of the message author.",
            "nullable": true
          },
          "tool_call_id": {
            "type": "string",
            "title": "Tool call id",
            "description": "Tool call that this message is responding to.",
            "nullable": true
          },
          "role": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ChatRole"
              }
            ],
            "title": "Role",
            "description": "Role of the message author."
          },
          "tool_calls": {
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            },
            "type": "array",
            "title": "Tool calls",
            "description": "A list of tool calls requested by the assistant.",
            "nullable": true
          },
          "tool_call": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FunctionTool"
              }
            ],
            "title": "Tool call",
            "description": "NB: Deprecated in favour of tool_calls. A tool call requested by the assistant.",
            "deprecated": true,
            "nullable": true
          }
        },
        "type": "object",
        "required": ["role"],
        "title": "ChatMessageWithToolCall"
      },
      "ChatRole": {
        "type": "string",
        "enum": ["user", "assistant", "system", "tool"],
        "title": "ChatRole",
        "description": "An enumeration."
      },
      "CommitPromptRequest": {
        "properties": {
          "commit_message": {
            "type": "string",
            "title": "Commit message",
            "description": "Message describing the changes made."
          }
        },
        "type": "object",
        "required": ["commit_message"],
        "title": "CommitPromptRequest"
      },
      "ConfigResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ModelConfigResponse"
          },
          {
            "$ref": "#/components/schemas/ToolConfigResponse"
          },
          {
            "$ref": "#/components/schemas/EvaluatorConfigResponse"
          },
          {
            "$ref": "#/components/schemas/AgentConfigResponse"
          },
          {
            "$ref": "#/components/schemas/GenericConfigResponse"
          }
        ],
        "title": "ConfigResponse",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "model": "#/components/schemas/ModelConfigResponse",
            "tool": "#/components/schemas/ToolConfigResponse",
            "evaluator": "#/components/schemas/EvaluatorConfigResponse",
            "agent": "#/components/schemas/AgentConfigResponse",
            "generic": "#/components/schemas/GenericConfigResponse"
          }
        }
      },
      "CreateDatapointRequest": {
        "properties": {
          "inputs": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Inputs",
            "description": "The inputs to the prompt template.",
            "default": {}
          },
          "messages": {
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "type": "array",
            "title": "Chat messages",
            "description": "List of chat messages to provide to the model."
          },
          "target": {
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "object"
                },
                {
                  "items": {},
                  "type": "array"
                }
              ]
            },
            "type": "object",
            "title": "Target",
            "description": "Object with criteria necessary to evaluate generations with this Datapoint. This is passed in as an argument to Evaluators when used in an Evaluation."
          }
        },
        "type": "object",
        "title": "CreateDatapointRequest"
      },
      "CreateEvaluationRequest": {
        "properties": {
          "dataset": {
            "allOf": [
              {
                "$ref": "#/components/schemas/src__external__app__models__v5__evaluations__DatasetRequest"
              }
            ],
            "title": "Dataset",
            "description": "The Dataset Version to use in this Evaluation."
          },
          "evaluatees": {
            "items": {
              "$ref": "#/components/schemas/EvaluateeRequest"
            },
            "type": "array",
            "minItems": 1,
            "title": "Evaluated Version IDs",
            "description": "Unique identifiers for the Prompt/Tool Versions to include in the Evaluation Report."
          },
          "evaluators": {
            "items": {
              "$ref": "#/components/schemas/EvaluatorRequest"
            },
            "type": "array",
            "title": "Evaluators",
            "description": "The Evaluators used to evaluate."
          }
        },
        "type": "object",
        "required": ["dataset", "evaluatees", "evaluators"],
        "title": "CreateEvaluationRequest",
        "description": "Request model for creating an Evaluation.\n\nEvaluation benchmark your Prompt/Tool Versions. With the Datapoints in a Dataset Version,\nLogs corresponding to the Datapoint and each Evaluated Version are evaluated by the specified Evaluator Versions.\nAggregated statistics are then calculated and presented in the Evaluation."
      },
      "CreateEvaluatorRequest": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Evaluator Name",
            "description": "Name of the Evaluator. This has to be unique within your Organization."
          },
          "directory_id": {
            "type": "string",
            "title": "Directory ID",
            "description": "Unique identifier for the Directory to create Evaluator in. Starts with `dir_`. If not provided, the Evaluator will be created in your Organization's root directory."
          },
          "evaluator_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EvaluatorType"
              }
            ],
            "title": "Evaluator Type",
            "description": "Type of Evaluator, one of python, llm, human, external."
          }
        },
        "type": "object",
        "required": ["evaluator_type"],
        "title": "CreateEvaluatorRequest"
      },
      "CreateExternalEvaluatorVersionRequest": {
        "properties": {
          "evaluator_id": {
            "type": "string",
            "title": "Evaluator ID",
            "description": "Unique identifier for the Evaluator to create a new Evaluator Version for. Starts with `ev_`."
          },
          "commit_message": {
            "type": "string",
            "title": "Commit message",
            "description": "Message describing the changes made."
          },
          "evaluator_type": {
            "type": "string",
            "enum": ["external"],
            "title": "Evaluator type",
            "description": "The type of the evaluator.",
            "default": "external"
          },
          "arguments_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EvaluatorArgumentsType"
              }
            ],
            "title": "Arguments type",
            "description": "Whether this evaluator is target-free or target-required."
          },
          "return_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EvaluatorReturnTypeEnum"
              }
            ],
            "title": "Return type",
            "description": "The type of the return value of the evaluator."
          }
        },
        "type": "object",
        "required": ["evaluator_id", "arguments_type", "return_type"],
        "title": "CreateExternalEvaluatorVersionRequest"
      },
      "CreateHumanEvaluatorVersionRequest": {
        "properties": {
          "evaluator_id": {
            "type": "string",
            "title": "Evaluator ID",
            "description": "Unique identifier for the Evaluator to create a new Evaluator Version for. Starts with `ev_`."
          },
          "commit_message": {
            "type": "string",
            "title": "Commit message",
            "description": "Message describing the changes made."
          },
          "evaluator_type": {
            "type": "string",
            "enum": ["human"],
            "title": "Evaluator type",
            "description": "The type of the evaluator.",
            "default": "human"
          },
          "arguments_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EvaluatorArgumentsType"
              }
            ],
            "title": "Arguments type",
            "description": "Whether this evaluator is target-free or target-required."
          },
          "return_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EvaluatorReturnTypeEnum"
              }
            ],
            "title": "Return type",
            "description": "The type of the return value of the evaluator."
          }
        },
        "type": "object",
        "required": ["evaluator_id", "arguments_type", "return_type"],
        "title": "CreateHumanEvaluatorVersionRequest"
      },
      "CreateLLMEvaluatorVersionRequest": {
        "properties": {
          "evaluator_id": {
            "type": "string",
            "title": "Evaluator ID",
            "description": "Unique identifier for the Evaluator to create a new Evaluator Version for. Starts with `ev_`."
          },
          "commit_message": {
            "type": "string",
            "title": "Commit message",
[...]
