.fern-sidebar-link,
.fern-search-bar,
.fern-button,
.playground-endpoint > div:first-child,
.rounded-xl,
.rounded-lg,
.rounded,
.rounded-md,
.rounded-sm,
.after\:rounded-lg:after {
  border-radius: 5px !important;
}

.fern-button {
  transition-duration: 0s !important;
}

.fern-button.outlined:hover {
  box-shadow: #71717a 0px 0px 0px 1px inset !important;
}

.dark .fern-button.outlined:hover {
  box-shadow: #c0c0d5 0px 0px 0px 1px inset !important;
}

#fern-header .fern-button[href="https://app.humanloop.com/login"],
#fern-header .fern-button[href="https://humanloop.com/demo"]
{
  font-weight: 600 !important;
  padding: 8px 12px !important;
  height: 36px;
}

#fern-header .fern-button[href="https://app.humanloop.com/login"]
{
  color: #3f3f46 !important;
}

.dark #fern-header .fern-button[href="https://app.humanloop.com/login"]
{
  color: #b3b3cc !important;
}

#fern-header .fern-button[href="https://humanloop.com/demo"]
{
  background-color: #18181b !important;
  box-shadow: rgba(24, 24, 27, 0.05) 0px 4px 8px 0px,
    rgba(24, 24, 27, 0.15) 0px 1px 2px 0px !important;
}

#fern-header .fern-button[href="https://humanloop.com/demo"] svg
{
  display: none;
}

#fern-header .fern-button[href="https://humanloop.com/demo"]:hover
{
  background-color: #1919e5 !important;
}

.dark #fern-header .fern-button[href="https://humanloop.com/demo"]
{
  background-color: #b3b3cc !important;
  color: #18181b !important;
}

.dark #fern-header .fern-button[href="https://humanloop.com/demo"]:hover
{
  background-color: #8a92ff !important;
}

#fern-header .fern-button-group .fern-button:last-child {
  width: 36px;
  height: 36px;
}

/* JAB customization. TODO: clean up. */

.fern-card {
  border-width: 1;
}

h1 {
  font-weight: 500;
}

.prose h1 {
  font-size: 1.875rem;
}

.prose h1,
.prose h2,
.prose h4,
.prose h5,
.prose h6 {
  font-weight: 600;
}

.prose h2,
.prose h3 {
  font-weight: 500;
}

figure.fern-card {
  border-width: 0;
  padding: 0;
}

img {
  border-radius: 8px;
}

/* Make the version dropdown less ugly */
/* Have to select on aria-haspopup="menu" */

#fern-header button[aria-haspopup="menu"] {
  margin-left: 38px;
  background-color: var(--color-background);
  color: rgba(var(--body-text), var(--tw-text-opacity));
}
#fern-header
  button[aria-haspopup="menu"]:hover
  #fern-header
  button[aria-haspopup="menu"]:active {
  background-color: var(--grayscale-a3);
}
