#
# WARNING: This file is auto-generated. Do not edit this file directly.
#
{
  "openapi": "3.0.2",
  "info":
    {
      "title": "Humanloop API",
      "description": "The Humanloop API allows you to interact with Humanloop from your product or service.\n\nYou can do this through HTTP requests from any language or via our official Python or TypeScript SDK.\n\nTo install the official [Python SDK](https://pypi.org/project/humanloop/), run the following command:\n\n```bash\npip install humanloop\n```\n\nTo install the official [TypeScript SDK](https://www.npmjs.com/package/humanloop), run the following command:\n\n```bash\nnpm i humanloop\n```\n\n---\n\nGuides and further details about key concepts can be found in [our docs](https://docs.humanloop.com/).",
      "version": "5.0.0",
    },
  "servers":
    [
      {
        "url": "https://api.humanloop.com/v5",
        "description": "Production server",
      },
    ],
  "paths":
    {
      "/prompts":
        {
          "post":
            {
              "tags": ["Prompts"],
              "summary": "Create A Prompt",
              "description": "Create a Prompt in an existing Directory. If no Directory is specified, the\nPrompt will be created in the Organization's root directory.",
              "operationId": "Prompts_create",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CreatePromptRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "201":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/PromptResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/prompts/{id}":
        {
          "get":
            {
              "tags": ["Prompts"],
              "summary": "Retrieve A Prompt",
              "description": "Retrieve the Prompt with the given ID.",
              "operationId": "Prompts_get",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Prompt. Starts with `pr_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Prompt ID",
                        "description": "Unique identifier for Prompt. Starts with `pr_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/PromptResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
          "delete":
            {
              "tags": ["Prompts"],
              "summary": "Delete A Prompt",
              "description": "Delete the Prompt with the given ID.",
              "operationId": "Prompts_delete",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Prompt. Starts with `pr_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Prompt ID",
                        "description": "Unique identifier for Prompt. Starts with `pr_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "204": { "description": "Successful Response" },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
          "patch":
            {
              "tags": ["Prompts"],
              "summary": "Update A Prompt",
              "description": "Update the Prompt with the given ID.",
              "operationId": "Prompts_update",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Prompt. Starts with `pr_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Prompt ID",
                        "description": "Unique identifier for Prompt. Starts with `pr_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/UpdatePromptRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/PromptResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/prompts/{id}/versions":
        {
          "get":
            {
              "tags": ["Prompts"],
              "summary": "List Prompt Versions",
              "description": "Get a list of the Prompt Versions for a Prompt.",
              "operationId": "Prompts_list",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Prompt. Starts with `pr_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Tool ID",
                        "description": "Unique identifier for Prompt. Starts with `pr_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                  {
                    "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned.",
                    "required": false,
                    "schema":
                      {
                        "allOf":
                          [{ "$ref": "#/components/schemas/VersionStatus" }],
                        "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned.",
                      },
                    "name": "status",
                    "in": "query",
                  },
                  {
                    "required": false,
                    "schema":
                      { "type": "boolean", "title": "Evaluation Aggregates" },
                    "name": "evaluation_aggregates",
                    "in": "query",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ListPromptVersionsResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/prompts/{id}/deployments":
        {
          "post":
            {
              "tags": ["Prompts"],
              "summary": "Deploy To Environment",
              "description": "Deploy Prompt Version to Environment.\n\nSet the deployed Version for the specified Environment. This Prompt Version\nwill be used for calls made to the Prompt in this Environment.",
              "operationId": "deploy_to_environment_prompts__id__deployments_post",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Prompt. Starts with `pr_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Prompt ID",
                        "description": "Unique identifier for Prompt. Starts with `pr_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/UpdateDeploymentRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/PromptResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/prompts/versions":
        {
          "post":
            {
              "tags": ["Prompts"],
              "summary": "Commit Prompt Version",
              "description": "Commit a new Prompt Version for the Prompt with the given ID.",
              "operationId": "PromptVersions_commit",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "oneOf":
                                [
                                  {
                                    "$ref": "#/components/schemas/CreateChatPromptVersionRequest",
                                  },
                                  {
                                    "$ref": "#/components/schemas/CreateCompletionPromptVersionRequest",
                                  },
                                ],
                              "title": "Request",
                              "discriminator":
                                {
                                  "propertyName": "endpoint",
                                  "mapping":
                                    {
                                      "chat": "#/components/schemas/CreateChatPromptVersionRequest",
                                      "complete": "#/components/schemas/CreateCompletionPromptVersionRequest",
                                    },
                                },
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "201":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/PromptVersionResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/prompts/versions/{id}":
        {
          "get":
            {
              "tags": ["Prompts"],
              "summary": "Retrieve Prompt Version",
              "description": "Retrieve the Prompt Version with the given ID.",
              "operationId": "PromptVersions_get",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Prompt. Starts with `pr_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Prompt ID",
                        "description": "Unique identifier for Prompt. Starts with `pr_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/PromptVersionResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/tools/templates":
        {
          "get":
            {
              "tags": ["Tools"],
              "summary": "List Tool Templates",
              "operationId": "list_tool_templates_tools_templates_get",
              "parameters":
                [
                  {
                    "description": "Type of tool to return the template",
                    "required": false,
                    "schema":
                      {
                        "allOf":
                          [
                            {
                              "$ref": "#/components/schemas/src__domain__files__tool__ToolType",
                            },
                          ],
                        "title": "Specific tool type template",
                        "description": "Type of tool to return the template",
                      },
                    "name": "tool_type",
                    "in": "query",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "items":
                                    {
                                      "$ref": "#/components/schemas/ToolTemplateResponse",
                                    },
                                  "type": "array",
                                  "title": "Response List Tool Templates Tools Templates Get",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/tools":
        {
          "post":
            {
              "tags": ["Tools"],
              "summary": "Create A Tool",
              "description": "Create a Tool in an existing Directory. If no Directory is specified, the\nTool will be created in the Organization's root directory.",
              "operationId": "Tools_create",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CreateToolRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "201":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                { "$ref": "#/components/schemas/ToolResponse" },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/tools/{id}":
        {
          "get":
            {
              "tags": ["Tools"],
              "summary": "Retrieve A Tool",
              "description": "Retrieve the Tool with the given ID.",
              "operationId": "Tools_get",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Tool. Starts with `tl_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Tool ID",
                        "description": "Unique identifier for Tool. Starts with `tl_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                { "$ref": "#/components/schemas/ToolResponse" },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
          "delete":
            {
              "tags": ["Tools"],
              "summary": "Delete A Tool",
              "description": "Delete the Tool with the given ID.",
              "operationId": "Tools_delete",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Tool. Starts with `tl_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Tool ID",
                        "description": "Unique identifier for Tool. Starts with `tl_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "204": { "description": "Successful Response" },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
          "patch":
            {
              "tags": ["Tools"],
              "summary": "Update A Tool",
              "description": "Update the Tool with the given ID.",
              "operationId": "Tools_update",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Tool. Starts with `tl_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Tool ID",
                        "description": "Unique identifier for Tool. Starts with `tl_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/UpdateToolRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                { "$ref": "#/components/schemas/ToolResponse" },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/tools/{id}/versions":
        {
          "get":
            {
              "tags": ["Tools"],
              "summary": "List Tool Versions",
              "description": "Get a list of the Tool Versions for a Tool.",
              "operationId": "Tools_list",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Tool. Starts with `tl_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Tool ID",
                        "description": "Unique identifier for Tool. Starts with `tl_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                  {
                    "description": "Filter versions by status: 'uncommitted', 'committed''",
                    "required": false,
                    "schema":
                      {
                        "allOf":
                          [{ "$ref": "#/components/schemas/VersionStatus" }],
                        "description": "Filter versions by status: 'uncommitted', 'committed''",
                        "default": "committed",
                      },
                    "name": "status",
                    "in": "query",
                  },
                  {
                    "required": false,
                    "schema":
                      { "type": "boolean", "title": "Evaluation Aggregates" },
                    "name": "evaluation_aggregates",
                    "in": "query",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ListToolVersionsResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/tools/versions":
        {
          "post":
            {
              "tags": ["Tools"],
              "summary": "Commit A Tool Version",
              "description": "Commit a new Tool Version for the Tool with the given ID.",
              "operationId": "ToolVersions_commit",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CreateToolVersionRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "201":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ToolVersionResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/tools/versions/{id}":
        {
          "get":
            {
              "tags": ["Tools"],
              "summary": "Retrieve A Tool Version",
              "description": "Retrieve the Tool Version with the given ID.",
              "operationId": "ToolVersions_get",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Tool. Starts with `tl_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Tool ID",
                        "description": "Unique identifier for Tool. Starts with `tl_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ToolVersionResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/datasets":
        {
          "post":
            {
              "tags": ["Datasets"],
              "summary": "Create A Dataset",
              "description": "Create a Dataset in an existing Directory.\n\nIf no Directory is specified, the Dataset will be created in the Organization's root directory.",
              "operationId": "Datasets_create",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CreateDatasetRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "201":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/DatasetResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/datasets/{id}":
        {
          "get":
            {
              "tags": ["Datasets"],
              "summary": "Retrieve A Dataset",
              "description": "Retrieve the Dataset with the given ID.",
              "operationId": "Datasets_get",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Dataset. Starts with `ds_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Dataset ID",
                        "description": "Unique identifier for Dataset. Starts with `ds_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/DatasetResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
          "delete":
            {
              "tags": ["Datasets"],
              "summary": "Delete Dataset",
              "description": "Delete the Dataset with the given ID.",
              "operationId": "Datasets_delete",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Dataset. Starts with `ds_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Dataset ID",
                        "description": "Unique identifier for Dataset. Starts with `ds_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "204": { "description": "Successful Response" },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
          "patch":
            {
              "tags": ["Datasets"],
              "summary": "Update A Dataset",
              "description": "Update the Prompt with the given ID.",
              "operationId": "Datasets_update",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Dataset. Starts with `ds_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Dataset ID",
                        "description": "Unique identifier for Dataset. Starts with `ds_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/UpdateDatasetRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/DatasetResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/datasets/{id}/versions":
        {
          "get":
            {
              "tags": ["Datasets"],
              "summary": "List Versions",
              "description": "List the Dataset Versions associated with this Dataset.",
              "operationId": "Datasets_list_versions",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Dataset. Starts with `ds_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Dataset ID",
                        "description": "Unique identifier for Dataset. Starts with `ds_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                  {
                    "description": "Filter versions by status: 'uncommitted', 'committed''",
                    "required": false,
                    "schema":
                      {
                        "allOf":
                          [{ "$ref": "#/components/schemas/VersionStatus" }],
                        "description": "Filter versions by status: 'uncommitted', 'committed''",
                        "default": "committed",
                      },
                    "name": "status",
                    "in": "query",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ListDatasetVersionsResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/datasets/versions":
        {
          "post":
            {
              "tags": ["Datasets"],
              "summary": "Commit A Dataset Version",
              "description": "Commit a new Dataset Version for the Dataset with the given ID.",
              "operationId": "DatasetVersions_commit",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CreateDatasetVersionRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "201":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/DatasetVersionResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/datasets/versions/{id}":
        {
          "get":
            {
              "tags": ["Datasets"],
              "summary": "Retrieve A Dataset Version",
              "description": "Retrieve the Dataset Version with the given ID.",
              "operationId": "DatasetVersions_get",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Dataset Version. Starts with `dsv_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Dataset Version ID",
                        "description": "Unique identifier for Dataset Version. Starts with `dsv_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/DatasetVersionResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
          "post":
            {
              "tags": ["Datasets"],
              "summary": "Modify A Dataset Version",
              "description": "Apply a modification to a Dataset Version and get back a new Version.\n\nIt is possible to add a list of new Datapoints and remove a list of existing\nDatapoints from the passed in Dataset Version.\n\nSince Dataset Versions are immutable, a new Dataset Version will be created\nand returned. The new version will have its own unique ID.",
              "operationId": "DatasetVersions_modify",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Dataset Version. Starts with `dsv_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Dataset Version ID",
                        "description": "Unique identifier for Dataset Version. Starts with `dsv_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/ModifyDatasetVersionRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "201":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/DatasetVersionResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/evaluators":
        {
          "post":
            {
              "tags": ["Evaluators"],
              "summary": "Create An Evaluator",
              "description": "Create a Evaluator in an existing Directory. If no Directory is specified, the\nEvaluator will be created in the Organization's root directory.",
              "operationId": "Evaluators_create",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/CreateEvaluatorRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "201":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/EvaluatorResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/evaluators/{id}":
        {
          "get":
            {
              "tags": ["Evaluators"],
              "summary": "Retrieve A Evaluator",
              "operationId": "Evaluators_get",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Evaluator ID",
                        "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/EvaluatorResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
          "delete":
            {
              "tags": ["Evaluators"],
              "summary": "Delete A Evaluator",
              "description": "Delete the Evaluator with the given ID.",
              "operationId": "Evaluators_delete",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Evaluator ID",
                        "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "204": { "description": "Successful Response" },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
          "patch":
            {
              "tags": ["Evaluators"],
              "summary": "Update A Evaluator",
              "description": "Update the Evaluator with the given ID.",
              "operationId": "Evaluators_update",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Evaluator ID",
                        "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/UpdateEvaluatorRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/EvaluatorResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/evaluators/{id}/versions":
        {
          "get":
            {
              "tags": ["Evaluators"],
              "summary": "List Evaluator Versions",
              "description": "Get a list of the Evaluator Versions for a Evaluator.",
              "operationId": "Evaluators_list",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Evaluator ID",
                        "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                  {
                    "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned.",
                    "required": false,
                    "schema":
                      {
                        "allOf":
                          [{ "$ref": "#/components/schemas/VersionStatus" }],
                        "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned.",
                      },
                    "name": "status",
                    "in": "query",
                  },
                  {
                    "required": false,
                    "schema":
                      { "type": "boolean", "title": "Evaluation Aggregates" },
                    "name": "evaluation_aggregates",
                    "in": "query",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/ListEvaluatorVersionsResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/evaluators/{id}/deployments":
        {
          "post":
            {
              "tags": ["Evaluators"],
              "summary": "Deploy To Environment",
              "description": "Deploy Evaluator Version to Environment.\n\nSet the deployed Version for the specified Environment. This Evaluator Version\nwill be used for calls made to the Evaluator in this Environment.",
              "operationId": "deploy_to_environment_evaluators__id__deployments_post",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Evaluator ID",
                        "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "$ref": "#/components/schemas/UpdateDeploymentRequest",
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/EvaluatorResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/evaluators/versions":
        {
          "post":
            {
              "tags": ["Evaluators"],
              "summary": "Commit Evaluator Version",
              "description": "Commit a new Evaluator Version for the Evaluator with the given ID.",
              "operationId": "EvaluatorVersions_commit",
              "requestBody":
                {
                  "content":
                    {
                      "application/json":
                        {
                          "schema":
                            {
                              "oneOf":
                                [
                                  {
                                    "$ref": "#/components/schemas/CreateLLMEvaluatorVersionRequest",
                                  },
                                  {
                                    "$ref": "#/components/schemas/CreatePythonEvaluatorVersionRequest",
                                  },
                                  {
                                    "$ref": "#/components/schemas/CreateHumanEvaluatorVersionRequest",
                                  },
                                  {
                                    "$ref": "#/components/schemas/CreateExternalEvaluatorVersionRequest",
                                  },
                                ],
                              "title": "Request",
                              "discriminator":
                                {
                                  "propertyName": "evaluator_type",
                                  "mapping":
                                    {
                                      "llm": "#/components/schemas/CreateLLMEvaluatorVersionRequest",
                                      "python": "#/components/schemas/CreatePythonEvaluatorVersionRequest",
                                      "human": "#/components/schemas/CreateHumanEvaluatorVersionRequest",
                                      "external": "#/components/schemas/CreateExternalEvaluatorVersionRequest",
                                    },
                                },
                            },
                        },
                    },
                  "required": true,
                },
              "responses":
                {
                  "201":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/EvaluatorVersionResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
      "/evaluators/versions/{id}":
        {
          "get":
            {
              "tags": ["Evaluators"],
              "summary": "Retrieve Evaluator Version",
              "description": "Retrieve the Evaluator Version with the given ID.",
              "operationId": "EvaluatorVersions_get",
              "parameters":
                [
                  {
                    "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                    "required": true,
                    "schema":
                      {
                        "type": "string",
                        "title": "Evaluator ID",
                        "description": "Unique identifier for Evaluator. Starts with `ev_`.",
                      },
                    "name": "id",
                    "in": "path",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Successful Response",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/EvaluatorVersionResponse",
                                },
                            },
                        },
                    },
                  "422":
                    {
                      "description": "Validation Error",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "$ref": "#/components/schemas/HTTPValidationError",
                                },
                            },
                        },
                    },
                },
              "security": [{ "APIKeyHeader": [] }],
            },
        },
    },
  "components":
    {
      "schemas":
        {
          "BaseMetricResponse":
            {
              "properties":
                {
                  "id":
                    {
                      "type": "string",
                      "title": "Metric ID",
                      "description": "ID of the metric. Starts with 'metric_'.",
                    },
                  "name":
                    {
                      "type": "string",
                      "title": "Metric name",
                      "description": "The name of the metric.",
                    },
                  "description":
                    {
                      "type": "string",
                      "title": "Metric description",
                      "description": "A description of what the metric measures.",
                    },
                  "code":
                    {
                      "type": "string",
                      "title": "Metric code",
                      "description": "Python code used to calculate a metric value on each logged datapoint.",
                    },
                  "default":
                    {
                      "type": "boolean",
                      "title": "Metric default flag",
                      "description": "Whether the metric is a global default metric. Metrics with this flag enabled cannot be deleted or modified.",
                    },
                  "active":
                    {
                      "type": "boolean",
                      "title": "Metric active flag",
                      "description": "If enabled, the metric is calculated for every logged datapoint.",
                    },
                  "created_at":
                    {
                      "type": "string",
                      "format": "date-time",
                      "title": "Created At",
                    },
                  "updated_at":
                    {
                      "type": "string",
                      "format": "date-time",
                      "title": "Updated At",
                    },
                },
              "type": "object",
              "required":
                [
                  "id",
                  "name",
                  "description",
                  "code",
                  "default",
                  "active",
                  "created_at",
                  "updated_at",
                ],
              "title": "BaseMetricResponse",
            },
          "CategoricalFeedbackLabel":
            {
              "properties":
                {
                  "value": { "type": "string", "title": "Label value" },
                  "sentiment":
                    {
                      "allOf":
                        [{ "$ref": "#/components/schemas/LabelSentiment" }],
                      "title": "Feedback label sentiment",
                      "description": "Whether the feedback sentiment is positive or negative.",
                    },
                  "status":
                    {
                      "allOf":
                        [
                          {
                            "$ref": "#/components/schemas/FeedbackLabelStatus",
                          },
                        ],
                      "title": "Feedback label status",
                      "description": "Whether the feedback label is active or inactive.",
                    },
                },
              "type": "object",
              "required": ["value", "sentiment", "status"],
              "title": "CategoricalFeedbackLabel",
            },
          "ChatMessage":
            {
              "properties":
                {
                  "content":
                    {
                      "anyOf":
                        [
                          { "type": "string" },
                          {
                            "items":
                              {
                                "anyOf":
                                  [
                                    {
                                      "$ref": "#/components/schemas/TextChatContent",
                                    },
                                    {
                                      "$ref": "#/components/schemas/ImageChatContent",
                                    },
                                  ],
                              },
                            "type": "array",
                          },
                        ],
                      "title": "Content",
                      "description": "The content of the message.",
                      "nullable": true,
                    },
                  "name":
                    {
                      "type": "string",
                      "title": "Name",
                      "description": "Optional name of the message author.",
                      "nullable": true,
                    },
                  "tool_call_id":
                    {
                      "type": "string",
                      "title": "Tool call id",
                      "description": "Tool call that this message is responding to.",
                      "nullable": true,
                    },
                  "role":
                    {
                      "allOf": [{ "$ref": "#/components/schemas/ChatRole" }],
                      "title": "Role",
                      "description": "Role of the message author.",
                    },
                  "tool_calls":
                    {
                      "items": { "$ref": "#/components/schemas/ToolCall" },
                      "type": "array",
                      "title": "Tool calls",
                      "description": "A list of tool calls requested by the assistant.",
                      "nullable": true,
                    },
                },
              "type": "object",
              "required": ["role"],
              "title": "ChatMessage",
            },
          "ChatMessageDict":
            {
              "properties":
                {
                  "content":
                    {
                      "anyOf":
                        [
                          { "type": "string" },
                          {
                            "items":
                              {
                                "anyOf":
                                  [
                                    {
                                      "$ref": "#/components/schemas/TextChatContentDict",
                                    },
                                    {
                                      "$ref": "#/components/schemas/ImageChatContentDict",
                                    },
                                  ],
                              },
                            "type": "array",
                          },
                        ],
                      "title": "Content",
                    },
                  "name": { "type": "string", "title": "Name" },
                  "tool_call_id": { "type": "string", "title": "Tool Call Id" },
                  "role": { "$ref": "#/components/schemas/ChatRole" },
                  "tool_call":
                    { "$ref": "#/components/schemas/FunctionToolDict" },
                  "tool_calls":
                    {
                      "items": { "$ref": "#/components/schemas/ToolCallDict" },
                      "type": "array",
                      "title": "Tool Calls",
                    },
                },
              "type": "object",
              "required": ["content", "role"],
              "title": "ChatMessageDict",
            },
          "ChatPromptVersionResponse":
            {
              "properties":
                {
                  "id":
                    {
                      "type": "string",
                      "title": "Prompt Version ID",
                      "description": "Unique identifier for the Prompt Version. Starts with `prv_`.",
                    },
                  "prompt_id":
                    {
                      "type": "string",
                      "title": "Prompt ID",
                      "description": "Unique identifier for the Prompt that this Prompt Version belongs to. Starts with `pr_`.",
                    },
                  "prompt":
                    {
                      "$ref": "#/components/schemas/PromptVersionPromptResponse",
                    },
                  "commit_message":
                    {
                      "type": "string",
                      "title": "Commit message",
                      "description": "Message describing the changes made.",
                    },
                  "status":
                    {
                      "allOf":
                        [{ "$ref": "#/components/schemas/VersionStatus" }],
                      "title": "Status",
                      "description": "The status of the Prompt Version.",
                    },
                  "tools":
                    {
                      "items":
                        {
                          "$ref": "#/components/schemas/PromptVersionToolResponse",
                        },
                      "type": "array",
                      "title": "Tool",
                      "description": "The list of Tools and Tool Versions that have are associated to this Prompt Version.",
                    },
                  "feedback_stats":
                    {
                      "items":
                        {
                          "$ref": "#/components/schemas/PromptVersionFeedbackStatsResponse",
                        },
                      "type": "array",
                      "title": "Feedback statistics",
                      "description": "Feedback statistics for the Prompt Version.",
                    },
                  "type":
                    {
                      "type": "string",
                      "enum": ["prompt"],
                      "title": "Type",
                      "default": "prompt",
                    },
                  "created_by": { "$ref": "#/components/schemas/UserResponse" },
                  "num_logs": { "type": "integer", "title": "Num Logs" },
                  "last_used_at":
                    {
                      "type": "string",
                      "format": "date-time",
                      "title": "Last Used At",
                    },
                  "created_at":
                    {
                      "type": "string",
                      "format": "date-time",
                      "title": "Created At",
                    },
                  "updated_at":
                    {
                      "type": "string",
                      "format": "date-time",
                      "title": "Updated At",
                    },
                  "endpoint":
                    {
                      "type": "string",
                      "enum": ["chat"],
                      "title": "Provider endpoint",
                      "description": "The provider model endpoint used.",
                      "default": "chat",
                    },
                  "chat_template":
                    {
                      "items": { "$ref": "#/components/schemas/ChatMessage" },
                      "type": "array",
                      "title": "Chat template",
                      "description": "Messages prepended to the list of messages sent to the provider. These messages that will take your specified inputs to form your final request to the provider model. Input variables within the template should be specified with syntax: {{INPUT_NAME}}.",
                    },
                  "provider":
                    {
                      "allOf":
                        [{ "$ref": "#/components/schemas/ModelProviders" }],
                      "title": "Model provider",
                      "description": "The company providing the underlying model service.",
                      "default": "openai",
                    },
                  "model":
                    {
                      "type": "string",
                      "title": "Model instance used",
                      "description": "The model instance used. E.g. gpt-4.",
                    },
                  "max_tokens":
                    {
                      "type": "integer",
                      "title": "Maximum tokens",
                      "description": "The maximum number of tokens to generate. Provide max_tokens=-1 to dynamically calculate the maximum number of tokens to generate given the length of the prompt",
                      "default": -1,
                    },
                  "temperature":
                    {
                      "type": "number",
                      "title": "Sampling temperature",
                      "description": "What sampling temperature to use when making a generation. Higher values means the model will be more creative.",
                      "default": 1,
                    },
                  "top_p":
                    {
                      "type": "number",
                      "title": "Top p probability mass",
                      "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass.",
                      "default": 1,
                    },
                  "stop":
                    {
                      "anyOf":
                        [
                          { "type": "string" },
                          { "items": { "type": "string" }, "type": "array" },
                        ],
                      "title": "Stop sequence(s)",
                      "description": "The string (or list of strings) after which the model will stop generating. The returned text will not contain the stop sequence.",
                    },
                  "presence_penalty":
                    {
                      "type": "number",
                      "title": "Presence penalty",
                      "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the generation so far.",
                      "default": 0,
                    },
                  "frequency_penalty":
                    {
                      "type": "number",
                      "title": "Frequency penalty",
                      "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on how frequently they appear in the generation so far.",
                      "default": 0,
                    },
                  "other":
                    {
                      "type": "object",
                      "title": "Other provider parameters",
                      "description": "Other parameter values to be passed to the provider call.",
                      "default": {},
                    },
                  "seed":
                    {
                      "type": "integer",
                      "title": "Seed",
                      "description": "If specified, model will make a best effort to sample deterministically, but it is not guaranteed.",
                    },
                  "response_format":
                    {
                      "allOf":
                        [{ "$ref": "#/components/schemas/ResponseFormat" }],
                      "title": "Response format",
                      "description": 'The format of the response. Only `{"type": "json_object"}` is currently supported for chat.',
                    },
                },
              "type": "object",
              "required":
                [
                  "id",
                  "prompt_id",
                  "prompt",
                  "status",
                  "tools",
                  "num_logs",
                  "last_used_at",
                  "created_at",
                  "updated_at",
                  "model",
                ],
              "title": "ChatPromptVersionResponse",
              "description": "Base type that all Version Responses should inherit from.",
            },
          "ChatRole":
            {
              "type": "string",
              "enum": ["user", "assistant", "system", "tool"],
              "title": "ChatRole",
              "description": "An enumeration.",
            },
          "CompletionPromptVersionResponse":
            {
              "properties":
                {
                  "id":
                    {
                      "type": "string",
                      "title": "Prompt Version ID",
                      "description": "Unique identifier for the Prompt Version. Starts with `prv_`.",
                    },
                  "prompt_id":
                    {
                      "type": "string",
                      "title": "Prompt ID",
                      "description": "Unique identifier for the Prompt that this Prompt Version belongs to. Starts with `pr_`.",
                    },
                  "prompt":
                    {
                      "$ref": "#/components/schemas/PromptVersionPromptResponse",
                    },
                  "commit_message":
                    {
                      "type": "string",
                      "title": "Commit message",
                      "description": "Message describing the changes made.",
                    },
                  "status":
                    {
                      "allOf":
                        [{ "$ref": "#/components/schemas/VersionStatus" }],
                      "title": "Status",
                      "description": "The status of the Prompt Version.",
                    },
                  "tools":
                    {
                      "items":
                        {
                          "$ref": "#/components/schemas/PromptVersionToolResponse",
                        },
                      "type": "array",
                      "title": "Tool",
                      "description": "The list of Tools and Tool Versions that have are associated to this Prompt Version.",
                    },
                  "feedback_stats":
                    {
                      "items":
                        {
                          "$ref": "#/components/schemas/PromptVersionFeedbackStatsResponse",
                        },
                      "type": "array",
                      "title": "Feedback statistics",
                      "description": "Feedback statistics for the Prompt Version.",
                    },
                  "type":
                    {
                      "type": "string",
                      "enum": ["prompt"],
                      "title": "Type",
                      "default": "prompt",
                    },
                  "created_by": { "$ref": "#/components/schemas/UserResponse" },
                  "num_logs": { "type": "integer", "title": "Num Logs" },
                  "last_used_at":
                    {
                      "type": "string",
                      "format": "date-time",
                      "title": "Last Used At",
                    },
                  "created_at":
                    {
                      "type": "string",
                      "format": "date-time",
                      "title": "Created At",
                    },
                  "updated_at":
                    {
                      "type": "string",
                      "format": "date-time",
                      "title": "Updated At",
                    },
                  "endpoint":
                    {
                      "type": "string",
                      "enum": ["complete"],
                      "title": "Provider endpoint",
                      "description": "The provider model endpoint used.",
                      "default": "complete",
                    },
                  "prompt_template":
                    {
                      "type": "string",
                      "title": "Prompt template",
                      "description": "Prompt template that will take your specified inputs to form your final request to the model. Input variables within the prompt template should be specified with syntax: {{INPUT_NAME}}.",
                    },
                  "provider":
                    {
                      "allOf":
                        [{ "$ref": "#/components/schemas/ModelProviders" }],
                      "title": "Model provider",
                      "description": "The company providing the underlying model service.",
                      "default": "openai",
                    },
                  "model":
                    {
                      "type": "string",
                      "title": "Model instance used",
                      "description": "The model instance used. E.g. gpt-4.",
                    },
                  "max_tokens":
                    {
                      "type": "integer",
                      "title": "Maximum tokens",
                      "description": "The maximum number of tokens to generate. Provide max_tokens=-1 to dynamically calculate the maximum number of tokens to generate given the length of the prompt",
                      "default": -1,
                    },
                  "temperature":
                    {
                      "type": "number",
                      "title": "Sampling temperature",
                      "description": "What sampling temperature to use when making a generation. Higher values means the model will be more creative.",
                      "default": 1,
                    },
                  "top_p":
                    {
                      "type": "number",
                      "title": "Top p probability mass",
                      "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass.",
                      "default": 1,
                    },
                  "stop":
                    {
                      "anyOf":
                        [
                          { "type": "string" },
                          { "items": { "type": "string" }, "type": "array" },
                        ],
                      "title": "Stop sequence(s)",
                      "description": "The string (or list of strings) after which the model will stop generating. The returned text will not contain the stop sequence.",
                    },
                  "presence_penalty":
                    {
                      "type": "number",
                      "title": "Presence penalty",
                      "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the generation so far.",
                      "default": 0,
                    },
                  "frequency_penalty":
                    {
                      "type": "number",
                      "title": "Frequency penalty",
                      "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on how frequently they appear in the generation so far.",
                      "default": 0,
                    },
                  "other":
                    {
                      "type": "object",
                      "title": "Other provider parameters",
                      "description": "Other parameter values to be passed to the provider call.",
                      "default": {},
                    },
                  "seed":
                    {
                      "type": "integer",
                      "title": "Seed",
                      "description": "If specified, model will make a best effort to sample deterministically, but it is not guaranteed.",
                    },
                  "response_format":
                    {
                      "allOf":
                        [{ "$ref": "#/components/schemas/ResponseFormat" }],
                      "title": "Response format",
                      "description": 'The format of the response. Only `{"type": "json_object"}` is currently supported for chat.',
                    },
                },
              "type": "object",
              "required":
                [
                  "id",
                  "prompt_id",
                  "prompt",
                  "status",
                  "tools",
                  "num_logs",
                  "last_used_at",
                  "created_at",
                  "updated_at",
                  "model",
                ],
              "title": "CompletionPromptVersionResponse",
              "description": "Base type that all Version Responses should inherit from.",
            },
          "CreateChatPromptVersionRequest":
            {
              "properties":
                {
                  "prompt_id":
                    {
                      "type": "string",
                      "title": "Prompt ID",
                      "description": "Unique identifier for the Prompt to create a new Prompt Version for. Starts with `pr_`.",
                    },
                  "commit_message":
                    {
                      "type": "string",
                      "minLength": 1,
                      "title": "Commit message",
                      "description": "Message describing the changes made.",
                    },
                  "endpoint":
                    {
                      "type": "string",
                      "enum": ["chat"],
                      "title": "Provider endpoint",
                      "description": "The provider model endpoint used.",
                      "default": "chat",
                    },
                  "chat_template":
                    {
                      "items": { "$ref": "#/components/schemas/ChatMessage" },
                      "type": "array",
                      "title": "Chat template",
                      "description": "Messages prepended to the list of messages sent to the provider. These messages that will take your specified inputs to form your final request to the provider model. Input variables within the template should be specified with syntax: {{INPUT_NAME}}.",
                    },
                  "provider":
                    {
                      "allOf":
                        [{ "$ref": "#/components/schemas/ModelProviders" }],
                      "title": "Model provider",
                      "description": "The company providing the underlying model service.",
                      "default": "openai",
                    },
                  "model":
                    {
                      "type": "string",
                      "title": "Model instance used",
                      "description": "The model instance used. E.g. gpt-4.",
                    },
                  "max_tokens":
                    {
                      "type": "integer",
                      "title": "Maximum tokens",
[...]
